Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Update hash logic and add integration test
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/helpers/hashBundle.ts
  contracts/clients/src/index.ts
  contracts/test-integration/BlsProvider.test.ts
Labels: aggregator, contracts, clients

Add hash bundle fn & ability to get aggregate bundle to client module
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleService.test.ts
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/helpers/addSafetyDivisorToFee.ts
  contracts/clients/src/helpers/hashBundle.ts
  contracts/clients/test/hashBundle.test.ts
  docs/local_development.md
Labels: aggregator, clients, documentation

publish bls-wallet-clients v0.9.0-4b76bb5
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Fix aggregator lint warnings
  aggregator/src/app/BundleService.ts
Labels: aggregator

Update experimental release after rebasing onto main
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

WIP AI6 - test fail
  contracts/contracts/VerificationGateway.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: contracts

Revert "WIP AI6 - test fail"
  contracts/contracts/VerificationGateway.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: contracts

Resolve AI6 by removing wallet upgradability
  contracts/contracts/VerificationGateway.sol
  contracts/test/upgrade-test.ts
Labels: contracts

Fix linter errors
  contracts/test/upgrade-test.ts
Labels: contracts

start analysis
  aggregator/deps.ts
  aggregator/manualTests/analysis/Calculator.ts
  aggregator/manualTests/analysis/run.ts
  aggregator/manualTests/analysis/util.ts
Labels: aggregator

encode and decode for MultiEncoder
  aggregator/manualTests/analysis/ByteStream.ts
  aggregator/manualTests/analysis/MultiEncoder.ts
Labels: aggregator

Port RegIndex
  aggregator/manualTests/analysis/RegIndex.ts
Labels: aggregator

Include naive fallback encoding
  aggregator/manualTests/analysis/MultiEncoder.ts
Labels: aggregator

FallbackEncoder
  aggregator/manualTests/analysis/PseudoFloat.ts
  aggregator/manualTests/analysis/encoders/FallbackEncoder.ts
  aggregator/manualTests/analysis/run.ts
  aggregator/manualTests/analysis/util.ts
Labels: aggregator

compressionRatio
  aggregator/manualTests/analysis/Calculator.ts
  aggregator/manualTests/analysis/run.ts
Labels: aggregator

Port PseudoFloat, VLQ
  aggregator/manualTests/analysis/ByteStream.ts
  aggregator/manualTests/analysis/MultiEncoder.ts
  aggregator/manualTests/analysis/PseudoFloat.ts
  aggregator/manualTests/analysis/VLQ.ts
  aggregator/manualTests/analysis/util.ts
Labels: aggregator

Check encode and decode, measure baseline length
  aggregator/manualTests/analysis/Calculator.ts
  aggregator/manualTests/analysis/run.ts
Labels: aggregator

biggest methods
  aggregator/manualTests/analysis/Calculator.ts
Labels: aggregator

ERC20TransferEncoder
  aggregator/manualTests/analysis/ByteStream.ts
  aggregator/manualTests/analysis/Calculator.ts
  aggregator/manualTests/analysis/encoders/ERC20TransferEncoder.ts
  aggregator/manualTests/analysis/encoders/FallbackEncoder.ts
  aggregator/manualTests/analysis/run.ts
  aggregator/manualTests/analysis/util.ts
Labels: aggregator

txDataStatsByMethodId
  aggregator/deps.ts
  aggregator/manualTests/analysis/Calculator.ts
  aggregator/manualTests/analysis/run.ts
Labels: aggregator

Add the L1 fee for optimism when calculating profit
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Use receipt.transactionHash, logging improvements
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/app.ts
Labels: aggregator

Return receipt only
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Add details to insufficient fee
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Fix missing config
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Add missing variable in .env.test
  aggregator/.env.test
Labels: aggregator

Move Optimism gas price oracle address to env file
  aggregator/.env.example
  aggregator/README.md
  aggregator/src/app/OptimismGasPriceOracle.ts
  aggregator/src/env.ts
Labels: aggregator, documentation

Remove signatureExpiryTimestamp from setBLSKeyForWallet
  contracts/contracts/VerificationGateway.sol
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Pin bls-wallet-clients@0.9.0-3251dec
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Update contract licenses to MIT
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/AggregatorUtilities.sol
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/contracts/BLSRegistration.sol
  contracts/contracts/BLSWallet.sol
  contracts/contracts/ERC20Expander.sol
  contracts/contracts/ExpanderEntryPoint.sol
  contracts/contracts/FallbackExpander.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/PseudoFloat.sol
  contracts/contracts/lib/RegIndex.sol
  contracts/contracts/lib/VLQ.sol
  contracts/contracts/mock/MockWalletUpgraded.sol
Labels: contracts

Pin bls-wallet-clients@0.9.0-5d98448
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Pin bls-wallet-clients@0.9.0-405e23a
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Add contract audits
  contracts/audits/README.md
  contracts/audits/Sigma_Prime_-_Ethereum_Foundation_-_BLS_Wallet_Smart_Contract_Security_Assessment_Report_-_v1.0.pdf
Labels: contracts, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
