Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Make expanderIndex explicit
  contracts/contracts/BLSExpanderDelegator.sol
Labels: contracts

Switch to big-endian
  contracts/contracts/VLQ.sol
  contracts/test/expander-test.ts
Labels: contracts

Implement VLQ decoding
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/test/expander-test.ts
Labels: contracts

FallbackExpander
  contracts/contracts/FallbackExpander.sol
Labels: contracts

Move VLQ to library
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/VLQ.sol
Labels: contracts

More vlq testing
  contracts/test/vlq-test.ts
Labels: contracts

Test VLQ directly instead of looking at logs
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/VLQ.sol
  contracts/test/expander-test.ts
  contracts/test/vlq-test.ts
Labels: contracts

Add docs and example
  contracts/contracts/FallbackExpander.sol
Labels: contracts

Add gas to fallback expander
  contracts/contracts/FallbackExpander.sol
Labels: contracts

Add and fix test
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/FallbackExpander.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/VLQ.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/bundleCompression.ts
  contracts/test/vlq-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Fix vlq-test.ts
  contracts/contracts/lib/VLQ.sol
  contracts/test/vlq-test.ts
Labels: contracts

Infer net cfg name for hardhat network.
  contracts/scripts/measure_gas/networks/arbitrum.ts
  contracts/scripts/measure_gas/run.ts
  contracts/scripts/measure_gas/setup.ts
  contracts/scripts/measure_gas/types.ts
Labels: contracts

Remove --unstable
  aggregator/Dockerfile
  aggregator/README.md
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/createTestWallet.ts
  aggregator/manualTests/createTestWalletViaAggregator.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/getChainId.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/send1Wei.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/programs/aggregator.ts
  aggregator/programs/build.ts
  aggregator/programs/checkTs.ts
  aggregator/programs/coverage.sh
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/programs/lintTodos.ts
  aggregator/programs/premerge.ts
  aggregator/programs/showTables.ts
Labels: aggregator, documentation

Ignore aggregator.db
  aggregator/.gitignore
Labels: aggregator

Fix: typo
  README.md
Labels: documentation

Fix: typo
  docs/README.md
Labels: documentation

Fix: typos
  docs/local_development.md
Labels: documentation

Fix: typos
  docs/remote_development.md
Labels: documentation

Fix: typos
  docs/use_bls_wallet_dapp.md
Labels: documentation

Fix: typos
  CONTRIBUTING.md
Labels: documentation

Fix: typos (#517)
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/local_development.md
  docs/remote_development.md
  docs/use_bls_wallet_dapp.md
Labels: documentation

Update contracts/scripts/measure_gas/README.md
  contracts/scripts/measure_gas/README.md
Labels: contracts, documentation

aggregator.db -> aggregator.sqlite
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/.gitignore
  aggregator/README.md
Labels: aggregator, documentation

Add --allow-write to aggregator.ts
  aggregator/programs/aggregator.ts
Labels: aggregator

Add --allow-write to showTables.ts
  aggregator/programs/showTables.ts
Labels: aggregator

Remove unnecessary --allow-write
  aggregator/programs/lintTodos.ts
Labels: aggregator

Remove more --unstable
  .github/workflows/aggregator.yml
  aggregator/.vscode/launch.json
  aggregator/programs/helpers/typescript.ts
  aggregator/programs/premerge.ts
  setup.ts
Labels: aggregator, automation

Cast to code:string instead of any
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts

Use .eventually in contract tests
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

PseudoFloat.sol
  contracts/contracts/lib/PseudoFloat.sol
  contracts/contracts/lib/VLQ.sol
Labels: contracts

Add and fix tests
  contracts/contracts/lib/PseudoFloat.sol
  contracts/test/pseudoFloat-test.ts
  contracts/test/vlq-test.ts
Labels: contracts

encodePseudoFloat
  contracts/contracts/lib/PseudoFloat.sol
  contracts/shared/helpers/bundleCompression.ts
Labels: contracts

Add big test
  contracts/test/pseudoFloat-test.ts
Labels: contracts

Use pseudo-floats for ethValues and gas
  contracts/contracts/FallbackExpander.sol
  contracts/shared/helpers/bundleCompression.ts
Labels: contracts

added additional fee checks for each tx type
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Modify integration tests to pass against geth node
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Run integration tests with geth in github workflow
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/contracts.yml
  .github/workflows/integration.yml
  aggregator/.env.test
  aggregator/programs/showTables.ts
  contracts/scripts/wait-for-contract-deploy.sh
Labels: aggregator, automation, contracts

separate geth and hardhat contract deploys
  .github/actions/local-contract-deploy-geth/action.yml
  .github/actions/local-contract-deploy-hardhat/action.yml
  .github/workflows/contracts.yml
  .github/workflows/integration.yml
Labels: automation

Fix lint issue
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Post-merge fixes
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/BLSExpander.sol
  contracts/scripts/measure_gas/configs/blsExpanderAddressTransfers.ts
  contracts/scripts/measure_gas/configs/blsExpanderAirdrop.ts
  contracts/scripts/measure_gas/configs/blsTransfer.ts
  contracts/scripts/measure_gas/token.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
