Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

forgot slash in the docker run command
  aggregator/programs/start-docker.sh
Labels: aggregator

Add missing slash in the docker run command (#479)
  aggregator/programs/start-docker.sh
Labels: aggregator

Add Optimism Goerli deploy to README
  README.md
  aggregator-proxy/README.md
  aggregator-proxy/manualTests/echoServer.ts
  aggregator/README.md
  contracts/.env.example
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-testnet.json
  contracts/shared/helpers/getBLSAddresses.ts
  contracts/test/walletAction-test.ts
  docs/remote_development.md
  extension/config.example.json
  extension/config.release.json
Labels: aggregator, aggregator-proxy, extension, contracts, documentation

Update bundle receipt in client and provider
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

Update todo
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Update bundle receipt in aggregator
  CONTRIBUTING.md
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleServiceSubmitting.test.ts
Labels: aggregator, documentation

Add experimental client module version
  aggregator/deps.ts
  contracts/clients/.version
  contracts/clients/package.json
  docs/remote_development.md
  extension/package.json
  extension/yarn.lock
Labels: aggregator, extension, clients, documentation

Update repo to same ethers version and add experimental client module to proxy agg
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Adding recovery methods
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomPrivateKey.ts
  contracts/clients/src/signer/index.ts
Labels: clients

Returning a bundle
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Update set recovery has to return a bundle
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Fix recovery hash function
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Rename BlsWallet type tp BlsBundleReceipt
  contracts/clients/src/Aggregator.ts
Labels: clients

Update experimental release
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/.version
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Remove extra level of nesting in BundleReceipt
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/.version
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Add new recovery tests
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/recovery-test.ts
Labels: contracts, clients

Update function naming
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/recovery-test.ts
Labels: contracts, clients

Update the extension to use the new code
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/recovery-test.ts
  extension/package.json
  extension/source/background/KeyringController.ts
  extension/yarn.lock
Labels: extension, contracts, clients

Remove logic to generate pk
  contracts/clients/package.json
  extension/package.json
  extension/source/background/KeyringController.ts
  extension/source/helpers/randFr.ts
  extension/yarn.lock
Labels: extension, clients

Update client module version
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: extension, clients

Remove extra change
  contracts/clients/package.json
Labels: clients

Naming updates
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomBlsPrivateKey.ts
  contracts/clients/src/signer/index.ts
  contracts/test/recovery-test.ts
Labels: contracts, clients

Fix experimental package version
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Finally fixed it in extension
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/background/KeyringController.ts
Labels: extension

PR comments
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomBlsPrivateKey.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/yarn.lock
  contracts/test/recovery-test.ts
  extension/package.json
  extension/source/background/KeyringController.ts
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, contracts, clients

Add gas param to tests.
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/BLSExpander.sol
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Sign userOp with async gas estimate
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Add gas limit (WIP)
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/types.ts
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Add gas param to Operation in client
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/signer/conversions.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/test/index.test.ts
Labels: clients

Fix gas measurement for wallets which don't yet exist
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: contracts, clients

Update gas script for Arbitrum Nitro
  .github/workflows/contracts.yml
  contracts/.gitignore
  contracts/ArbitrumGasCosts.md
  contracts/contracts/BLSExpander.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/deploy_all.ts
  contracts/scripts/measure_gas/configs/blsExpanderAddressTransfers.ts
  contracts/scripts/measure_gas/configs/blsExpanderAirdrop.ts
  contracts/scripts/measure_gas/configs/blsTransfer.ts
  contracts/scripts/measure_gas/configs/index.ts
  contracts/scripts/measure_gas/configs/normalTransfer.ts
  contracts/scripts/measure_gas/format.ts
  contracts/scripts/measure_gas/index.ts
  contracts/scripts/measure_gas/networks/arbitrum.ts
  contracts/scripts/measure_gas/rng.ts
  contracts/scripts/measure_gas/token.ts
  contracts/scripts/measure_gas/transaction.ts
  contracts/scripts/measure_gas/types.ts
  contracts/scripts/sleep.ts
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/util/ArbGasInfoAbi.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/yarn.lock
Labels: automation, contracts, documentation

Add documentation, addresses to gas measurements
  .github/workflows/contracts.yml
  contracts/scripts/measure_gas/README.md
  contracts/scripts/measure_gas/config.ts
  contracts/scripts/measure_gas/configs/blsExpanderAddressTransfers.ts
  contracts/scripts/measure_gas/configs/blsExpanderAirdrop.ts
  contracts/scripts/measure_gas/configs/blsTransfer.ts
  contracts/scripts/measure_gas/configs/normalTransfer.ts
  contracts/scripts/measure_gas/index.ts
  contracts/scripts/measure_gas/measure.ts
  contracts/scripts/measure_gas/networks/arbitrum.ts
  contracts/scripts/measure_gas/run.ts
  contracts/scripts/measure_gas/setup.ts
  contracts/scripts/measure_gas/types.ts
Labels: automation, contracts, documentation

Further optimize gas measurement script.
  contracts/clients/src/BlsWalletContracts.ts
  contracts/clients/src/index.ts
  contracts/scripts/measure_gas/config.ts
  contracts/scripts/measure_gas/configs/blsExpanderAddressTransfers.ts
  contracts/scripts/measure_gas/configs/blsExpanderAirdrop.ts
  contracts/scripts/measure_gas/configs/blsTransfer.ts
  contracts/scripts/measure_gas/configs/normalTransfer.ts
  contracts/scripts/measure_gas/measure.ts
  contracts/scripts/measure_gas/run.ts
  contracts/scripts/measure_gas/setup.ts
  contracts/scripts/measure_gas/token.ts
  contracts/scripts/measure_gas/transaction.ts
  contracts/scripts/measure_gas/types.ts
Labels: contracts, clients

Fix lint issue
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Add reason string
  contracts/contracts/VerificationGateway.sol
Labels: contracts

uint -> uint256
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Add return type annotation
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Add docstring for overhead param
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Moving mcl logic back inside the signer directory
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomBlsPrivateKey.ts
  contracts/clients/yarn.lock
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Add recovery methods to bls-wallet-clients module(#486)
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomBlsPrivateKey.ts
  contracts/test/recovery-test.ts
  extension/package.json
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/background/KeyringController.ts
  extension/source/helpers/randFr.ts
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, contracts, clients

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
