Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

First attempt at encrypting the local storage
  extension/source/QuillContext.tsx
  extension/source/background/index.ts
  extension/source/cells/encryptedLocalCellCollection.ts
  extension/source/types/browser-passworder.d.ts
  extension/yarn.lock
Labels: extension

Enable encrypted and decrypted storage
  extension/package.json
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
Labels: extension

Lint fixes and remove console log
  extension/source/QuillContext.tsx
  extension/source/types/browser-passworder.d.ts
Labels: extension

Update variable naming
  extension/source/cells/encryptedLocalCellCollection.ts
Labels: extension

Creating new StorageConfig type
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
Labels: extension

Removing unused variable
  extension/source/QuillContext.tsx
Labels: extension

Encrypting necessary local storage data (#286)
  extension/package.json
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
  extension/source/cells/encryptedLocalCellCollection.ts
  extension/source/types/browser-passworder.d.ts
  extension/yarn.lock
Labels: extension

Switch extension upload to more relevant GH action
  .github/actions/build-upload-extension/action.yml
Labels: automation

Update presentations list
  docs/system_overview.md
Labels: documentation

crated transactions table
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
Labels: extension

completed tx table ui
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
Labels: extension

Ignore watching node_modules during extension dev.
  docs/local_development.md
  extension/webpack.config.js
Labels: extension, documentation

Add guide for using BLS Wallet in a dApp
  README.md
  docs/README.md
  docs/use_bls_wallet_dapp.md
Labels: documentation

lint fix
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
Labels: extension

Update extension/config.release.json
  extension/config.release.json
Labels: extension

fixed no-unstable-nested-components issue
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
Labels: extension

change native button to use custom Button
  extension/source/Home/Wallet/Wallets/ActionsModal.tsx
Labels: extension

created clickable actions modal
  extension/package.json
  extension/source/Confirm/TransactionCard.tsx
  extension/source/Home/Wallet/Wallets/ActionsModal.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/yarn.lock
Labels: extension

fixed no-unstable-nested-components issue
  extension/source/Home/Wallet/Wallets/ActionsModal.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
Labels: extension

Add checkout commands to contract deployment and explanation
  docs/local_development.md
Labels: documentation

Update private key
  aggregator/.env.example
Labels: aggregator

Update with PR feedback
  extension/config.example.json
  extension/config.release.json
  extension/source/Home/Wallet/Settings/NetworkSettings.tsx
  extension/source/background/KeyringController.ts
  extension/source/background/PreferencesController.ts
  extension/source/background/ProviderConfig.ts
Labels: extension

created new testnet deployment for git hash 45def92
  contracts/networks/arbitrum-testnet.json
  extension/.env.example
Labels: extension, contracts

created new goerli testnet deployment for git hash 45def92
  contracts/.env.example
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-testnet-goerli.json
  extension/source/background/networks.ts
Labels: extension, contracts

fix: goerli explorer url
  extension/source/background/networks.ts
Labels: extension

Switch to supported contracts when testing aggregator
  .github/workflows/aggregator.yml
Labels: automation

Trigger aggregator workflows for yml file
  .github/workflows/aggregator.yml
Labels: automation

Fetch the commit before checking it out
  .github/workflows/aggregator.yml
Labels: automation

Add comments
  .github/workflows/aggregator.yml
Labels: automation

PR fixes
  .github/actions/build-upload-extension/action.yml
  extension/config.example.json
  extension/config.release.json
Labels: automation, extension

Move MultiNetowrkConfig to bls-wallet-clients
  contracts/clients/package.json
  contracts/clients/src/MultiNetworkConfig.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/index.ts
  contracts/clients/test/config.test.ts
  contracts/clients/test/index.test.ts
  contracts/clients/test/init.ts
  contracts/clients/yarn.lock
  extension/source/background/KeyringController.ts
Labels: extension, clients

Remove .only from client tests
  contracts/clients/test/config.test.ts
Labels: clients

Use MultiNetworkConfig from clients lib.
  contracts/clients/src/NetworkConfig.ts
  extension/buildMultiNetworkConfig.js
  extension/package.json
  extension/scripts/addFileStubsIfNeeded.sh
  extension/source/BlsNetworksConfig.ts
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/MutiNetworkConfig.ts
  extension/source/QuillContext.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/background/getBlsNetworkConfig.ts
  extension/source/background/getNetworkConfig.ts
  extension/source/background/index.ts
  extension/webpack.config.js
  extension/yarn.lock
Labels: extension, clients

Fix file misspelling
  extension/source/MultiNetworkConfig.ts
  extension/source/QuillContext.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/background/getNetworkConfig.ts
  extension/source/background/index.ts
Labels: extension

fix: typo for chain Id
  contracts/hardhat.config.ts
Labels: contracts

updated default env to use arbitrum nitro goerli
  aggregator/.env.example
  extension/.env.example
Labels: aggregator, extension

updated extension to use remote aggregator by default
  extension/.env.example
Labels: extension

updated docs
  docs/local_development.md
Labels: documentation

Added QR Code for receive button
  extension/package.json
  extension/source/Home/Wallet/Wallets/QRModal.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/yarn.lock
Labels: extension

lint fix
  extension/source/Home/Wallet/Wallets/QRModal.tsx
Labels: extension

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
