Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

re-order
  .github/workflows/clients.yml
Labels: automation

comment out name
  .github/workflows/clients.yml
Labels: automation

remove hyphen
  .github/workflows/clients.yml
Labels: automation

Use different priv key for provider & signer tests
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Reorder providers
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Fund signer with more eth
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Remove hardhat logs attempt
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
Labels: automation

Move failing test to provider tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Use different state between tests wip
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

PR comments
  contracts/clients-tests/Signer.test.ts
  contracts/contracts/mock/MockERC721.sol
  contracts/yarn.lock
Labels: contracts

Fix linting issue
  contracts/clients-tests/Signer.test.ts
Labels: contracts

Properly bind fetch
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
Labels: clients

Parse text response
  contracts/clients/src/Aggregator.ts
Labels: clients

Signer tests for the BLS Signer (#399)
  contracts/clients-tests/Signer.test.ts
  contracts/contracts/mock/MockERC721.sol
  contracts/scripts/test/measure_gas.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts

Pin bls-wallet-clients@0.8.2-add1351
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Pin bls-wallet-clients@0.8.2
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Use fresh state on every test
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Add todo for failing test
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Fix nonce too low error
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Remove unnecessary test
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Reorder imports
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Add new line to yml files
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
Labels: automation

Add provider tests to github workflows (#425)
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
  aggregator/.env.test
  aggregator/.gitignore
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/tsconfig.json
Labels: aggregator, automation, contracts, clients

Add getOperationResults to clients to make it easier to decode operation errors.
  contracts/.eslintrc.js
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OpertionResults.test.ts
Labels: contracts, clients

Add nyc test coverage tool
  contracts/clients/.gitignore
  contracts/clients/.nycrc
  contracts/clients/package.json
  contracts/clients/yarn.lock
Labels: clients

Address PR feedback
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OperationResults.test.ts
  contracts/clients/test/OpertionResults.test.ts
Labels: clients

Finish test coverage of OperationResults
  contracts/clients/package.json
  contracts/clients/test/OperationResults.test.ts
Labels: clients

Address additional PR feedback
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OperationResults.test.ts
Labels: clients

Split client unit & intergration test CI runs
  .github/workflows/clients.yml
Labels: automation

Split out calculation for baseFeeIncrease
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Add comments explaining maxFeePerGas calculation
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Add docstring for `#pickBest`
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Add docstring for #augmentAggregateBundle
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Update environment variables table in README
  aggregator/README.md
Labels: aggregator, documentation

Document fee system
  aggregator/README.md
Labels: aggregator, documentation

Charge accurate fees -- followup (#438)
  aggregator/README.md
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator, documentation

Adding a status column and receipt column to the bundles table
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
Labels: aggregator

Fix tests
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Add tests for signer.provider, signer.isSigner & signer.connect
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Remove unnecessary comment
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
