Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Clean up
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
Labels: aggregator

Update test env to match aggregator fee changes
  aggregator/.env.test
Labels: aggregator

Limit bundles by gas
  aggregator/.env.example
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/env.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Bypass timer on profit rather than the aggregation being 'full'
  aggregator/src/app/BundleService.ts
  aggregator/src/app/helpers/countActions.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Remove MAX_AGGREGATION_SIZE
  aggregator/.env.example
  aggregator/manualTests/throughput.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/env.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Update README
  aggregator/README.md
Labels: aggregator, documentation

Get rid of ExplicitAny in tests
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
Labels: aggregator

Add error test for signer.unlock
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Add logging to debug hanging test
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Update .env.local.example
  aggregator/.env.local.example
Labels: aggregator

Better split of local and remote docs
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Remove whitespace
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

On stop(), stop listening for blocks
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Remove gasPrice:0
  contracts/hardhat.config.ts
Labels: contracts

Use geth instead of hardhat for local node + automate setup
  contracts/package.json
  contracts/scripts/fundAccounts.js
  contracts/scripts/start.sh
  docs/local_development.md
Labels: contracts, documentation

Replace evm_mine
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Add hardhat option
  contracts/package.json
  contracts/scripts/start-hardhat.sh
  docs/local_development.md
Labels: contracts, documentation

Simplify test / fix race condition
  aggregator/test/BundleServiceSubmitting.test.ts
Labels: aggregator

Use faster polling when running locally
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/src/app/EthereumService.ts
  aggregator/src/env.ts
Labels: aggregator, documentation

Use geth on CI
  .github/workflows/aggregator.yml
Labels: automation

Pull container beforehand so that we don't hit the node too quickly
  contracts/scripts/start.sh
Labels: contracts

Remove unnecessary flags
  contracts/scripts/start.sh
Labels: contracts

Run node in background
  .github/workflows/aggregator.yml
Labels: automation

Move config outside docker image
  aggregator/Dockerfile
  aggregator/programs/build.ts
  aggregator/programs/start-docker.sh
  aggregator/src/env.ts
Labels: aggregator

Port start.sh to typescript
  contracts/scripts/start.ts
Labels: contracts

Add --hardhat variation
  contracts/scripts/start.ts
Labels: contracts

Use typescript version for yarn start, delete bash versions
  contracts/package.json
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
  docs/local_development.md
Labels: contracts, documentation

Add optimism goerli network config
  contracts/.env.example
  contracts/hardhat.config.ts
  contracts/networks/optimism-goerli.json
Labels: contracts

Persist bundles in the bundles table (#440)
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Use a longer delay
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
Labels: contracts

Simplify start-docker.sh, avoid overrides
  aggregator/Dockerfile
  aggregator/programs/start-docker.sh
  aggregator/src/env.ts
Labels: aggregator

Use last entry in env file instead of first
  aggregator/programs/start-docker.sh
Labels: aggregator

Update README
  aggregator/README.md
Labels: aggregator, documentation

MAX_GAS -> MAX_GAS_PER_BUNDLE
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/env.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator, documentation

Improve BUNDLE_CHECKING_CONCURRENCY description
  aggregator/README.md
Labels: aggregator, documentation

Bump CI
  contracts/clients/test/poll.test.ts
Labels: clients

Split out integration.yml so that test-integration can run more often and not on contract-updates
  .github/workflows/clients.yml
  .github/workflows/integration.yml
Labels: automation

Log normally instead of using artifact
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/integration.yml
Labels: automation

Handle bundleService.lookupBundle returning nil
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleTable.ts
  contracts/test-integration/BlsProvider.test.ts
Labels: aggregator, contracts

Fix access on maybe-nil bundleRow
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
Labels: aggregator

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
