Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Update local and remote docs
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Update docs/local_development.md
  docs/local_development.md
Labels: documentation

Update local remote docs
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Update local and remote docs
  docs/remote_development.md
Labels: documentation

Update local and remote docs (#591)
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Fix lint error, attach issue for real fix
  aggregator/programs/helpers/shell.ts
Labels: aggregator

Update bls-wallet-clients in aggregator
  aggregator/deps.ts
Labels: aggregator

Update arbitrum-goerli deployment
  contracts/networks/arbitrum-goerli.json
Labels: contracts

Update optimism-goerli deployment
  contracts/networks/optimism-goerli.json
Labels: contracts

Update bls-wallet-clients in extension
  extension/package.json
  extension/yarn.lock
Labels: extension

Don't assert the to address
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Restore chai spies and sinon fakes after each test
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Update signMessage to concatenate sig instead of RLP encode it
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Fix fallback to .logs in case where .events exists but didn't recognize WalletOperationProcessed
  contracts/clients/src/OperationResults.ts
Labels: clients

Test "decodes WalletOperationProcessed logs"
  contracts/clients/test/OperationResults.test.ts
Labels: clients

Consolidate tests & fix todos
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Remove unnecessary integration tests to regular client tests
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Add merge-ok to remaining todos
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Update components to use client module v0.9.0
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Unify effective gas calculations to fix optimism
  aggregator/manualTests/callOptimismGasPriceOracle.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/OptimismGasPriceOracle.ts
  aggregator/src/env.ts
  aggregator/src/helpers/hexToUint8Array.ts
Labels: aggregator

Add docs
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Add required IS_OPTIMISM variable to example configs
  aggregator/.env.example
  aggregator/.env.local.example
Labels: aggregator

Add ability to blsWalletSigner to verify multiple addresses
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
Labels: clients

Add test case for verify address mismatch
  contracts/clients/test/index.test.ts
Labels: clients

publish experimental release & update agg to verify multiple addresses
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleService.test.ts
  contracts/clients/package.json
  contracts/test-integration/BlsProvider.test.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, contracts, clients

Update bls-wallet-clients to v0.9.0-1620721
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Add scalar, decimals, getAllParams
  aggregator/src/app/OptimismGasPriceOracle.ts
Labels: aggregator

Multiply l1BaseFee by scalar
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Include scalar
  aggregator/manualTests/callOptimismGasPriceOracle.ts
Labels: aggregator

getRawTransaction
  aggregator/manualTests/getRawTransaction.ts
Labels: aggregator

Move getRawTransaction into helpers
  aggregator/deps.ts
  aggregator/manualTests/getRawTransaction.ts
  aggregator/src/helpers/getRawTransaction.ts
Labels: aggregator

getOptimismL1Fee
  aggregator/manualTests/getOptimismL1Fee.ts
  aggregator/src/helpers/getOptimismL1Fee.ts
  aggregator/src/helpers/getRawTransaction.ts
Labels: aggregator

Make onboarding UI more responsive
  extension/source/Home/Onboarding/OnboardingActionPanel.tsx
  extension/source/Home/Onboarding/OnboardingInfoPanel.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/ViewSecretPhrasePanel.tsx
Labels: extension

Make home page UI more responsive
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AmountSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/Home/Wallet/WalletsPage.tsx
Labels: extension

Add responsive navbar with toggle button
  extension/source/Home/Wallet/Navigation.tsx
Labels: extension

Truncate long balances
  extension/source/Home/Wallet/Wallets/Balance.tsx
Labels: extension

Fix get request typo
  aggregator/src/app/BundleService.ts
  contracts/clients/src/Aggregator.ts
Labels: aggregator, clients

Fix invalid import statement
  contracts/clients/test/hashBundle.test.ts
Labels: clients

Use deterministic bundle hashes in aggregator
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Remove unneeded return type change
  aggregator/test/helpers/Fixture.ts
Labels: aggregator
