Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Remove test commit
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Rename provider tests directory
  .github/workflows/clients.yml
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/tsconfig.json
Labels: automation, contracts

Remove periods from error messages
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Move chai spies to hardhat config
  contracts/hardhat.config.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

test changing order of signer tests
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Update number of retries for getting tx receipt
  contracts/clients/src/BlsProvider.ts
Labels: clients

Drop privateKey param & use ethers method signature
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Update unchecked signer test, typing, and comments.
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Add return typing on anon func
  contracts/clients/src/BlsSigner.ts
Labels: clients

Correctly bubble up bundle submit errors
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/yarn.lock
Labels: clients

Pin bls-wallet-clients@0.8.1-1995bbc
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add/update documentation for Aggregator client
  contracts/clients/README.md
  contracts/clients/src/Aggregator.ts
Labels: clients, documentation

Revert node-fetch to 2.6.7
  contracts/clients/package.json
  contracts/clients/yarn.lock
Labels: clients

Pin bls-wallet-clients0.8.1-758c7c4
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add error path on submit error to extension
  extension/source/background/AggregatorController.ts
Labels: extension

Update env file variables
  .github/actions/local-aggregator-deploy/action.yml
  aggregator/.env.test
  aggregator/.gitignore
  contracts/clients/src/BlsProvider.ts
Labels: aggregator, automation, clients

Change to just use base ERC721 without addons and reverting back to zeppelin 4.7.3
  contracts/clients-tests/Signer.test.ts
  contracts/contracts/mock/MockERC721.sol
  contracts/package.json
  contracts/yarn.lock
Labels: contracts

Increase polling interval
  contracts/clients/src/BlsProvider.ts
Labels: clients

Print error logs to file wip
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/clients.yml
  contracts/test-integration/BlsSigner.test.ts
Labels: automation, contracts

save artifacts wip
  .github/actions/upload-artifact/action.yml
Labels: automation

move logs commands to single file
  .github/workflows/clients.yml
Labels: automation

comment out commands
  .github/actions/upload-artifact/action.yml
  .github/workflows/clients.yml
Labels: automation

remove .only
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Edit logs cmd & reset polling changes
  .github/workflows/clients.yml
  contracts/clients/src/BlsProvider.ts
Labels: automation, clients

only run signer tests
  .github/actions/publish-artifacts/actions.yml
  .github/workflows/clients.yml
  contracts/test-integration/BlsSigner.test.ts
Labels: automation, contracts

logs wip
  .github/workflows/clients.yml
  contracts/test-integration/BlsSigner.test.ts
Labels: automation, contracts

run tests - control
  .github/workflows/clients.yml
Labels: automation

run tests - only signer tests
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

tun tests - only original failing test
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Fix paths
  .github/actions/publish-artifacts/actions.yml
  .github/workflows/clients.yml
Labels: automation

fix path wip
  .github/workflows/clients.yml
Labels: automation

Pin bls-wallet-clients@0.8.1
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Wallet recovery (#342)
  extension/package.json
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/helpers/randFr.ts
  extension/source/types/Rpc.ts
  extension/yarn.lock
Labels: extension

Add logs for hardhat node
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
  contracts/test-integration/BlsSigner.test.ts
Labels: automation, contracts

Node logs wip
  .github/actions/local-contract-deploy/action.yml
Labels: automation

Always publish artifacts
  .github/workflows/clients.yml
Labels: automation

Add uses statement to correct line
  .github/workflows/clients.yml
Labels: automation

Comment out names
  .github/workflows/clients.yml
Labels: automation

Comment out name
  .github/workflows/clients.yml
Labels: automation

Re order
  .github/workflows/clients.yml
Labels: automation
