Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Add --image-only for skipping the save step
  aggregator/programs/build.ts
Labels: aggregator

Log build outputs
  aggregator/programs/build.ts
Labels: aggregator

Allow customizing image name
  aggregator/programs/build.ts
Labels: aggregator

Add --push
  aggregator/programs/build.ts
Labels: aggregator

also-tag-latest
  aggregator/programs/build.ts
Labels: aggregator

buildName -> tag
  aggregator/programs/build.ts
Labels: aggregator

Use latest deno
  aggregator/Dockerfile
Labels: aggregator

Add aggregator-dockerhub workflow
  .github/workflows/aggregator-dockerhub.yml
Labels: automation

Clarify cli args
  aggregator/programs/build.ts
Labels: aggregator

Remove stale extension .env instructions
  docs/local_development.md
Labels: documentation

Add statement on production use for contracts
  contracts/README.md
Labels: contracts, documentation

Reference agg env table in dev setup instructions
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Remove redudent extension env instructions
  extension/README.md
Labels: extension, documentation

Format docs
  aggregator-proxy/README.md
  contracts/README.md
  contracts/clients/README.md
  docs/README.md
  docs/use_bls_wallet_clients.md
  docs/use_bls_wallet_dapp.md
  extension/README.md
Labels: aggregator-proxy, extension, contracts, clients, documentation

Add additional examples to clients readme
  contracts/clients/README.md
Labels: clients, documentation

Edit contracts production use statement & fix typos
  contracts/README.md
  contracts/clients/README.md
Labels: contracts, clients, documentation

docs typos and add additional context
  aggregator/README.md
  contracts/clients/README.md
  docs/local_development.md
Labels: aggregator, clients, documentation

Tweak BLS Wallet description
  README.md
Labels: documentation

Add troubleshooting tips & fee info to client docs
  contracts/clients/README.md
  docs/local_development.md
Labels: clients, documentation

Update aggregator docs
  aggregator-proxy/README.md
  aggregator/README.md
Labels: aggregator, aggregator-proxy, documentation

Add more descriptive intro to root readme
  README.md
Labels: documentation

Add WSL2 recommendation
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Add blsSignerWrapper class
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Updates for sync and rollbacks
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/runQueryGroup.ts
Labels: aggregator

First pass conversion in BundleTable
  aggregator/deps.ts
  aggregator/src/app/BundleTable.ts
Labels: aggregator

Fix tests, cleanup
  aggregator/programs/dropTables.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AdminRouter.ts
  aggregator/src/app/AdminService.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleTable.ts
  aggregator/src/app/app.ts
  aggregator/src/app/createQueryClient.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Fix BundleTable.test.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Update environment variables
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/programs/showTables.ts
  aggregator/src/app/app.ts
  aggregator/src/env.ts
Labels: aggregator, documentation

Remove/update postgres in readme
  aggregator/README.md
Labels: aggregator, documentation

Remove remaining postgres things
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/aggregator.yml
  contracts/README.md
  docker-compose.yml
  docs/local_development.md
Labels: automation, contracts, documentation

Remove postquery from deps
  aggregator/deps.ts
Labels: aggregator

Fix query logging in runQueryGroup
  aggregator/src/app/BundleService.ts
  aggregator/src/app/runQueryGroup.ts
Labels: aggregator

Remove unnecessary test wrapper in BundleTable.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Fix local-aggregator-deploy
  .github/actions/local-aggregator-deploy/action.yml
Labels: automation

Replace sleep with wait-for-rpc
  .github/workflows/aggregator.yml
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
  contracts/scripts/wait-for-rpc.sh
Labels: automation, contracts

Implement BLSExpanderDelegator.run
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/interfaces/IWallet.sol
Labels: contracts

Move some things around
  contracts/contracts/BLSExpander.sol
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/lib/VLQ.sol
Labels: contracts

Copy code from hackmd
  contracts/contracts/BLSExpanderDelegator.sol
Labels: contracts

Add commentary
  contracts/contracts/BLSExpanderDelegator.sol
Labels: contracts

Use viaIR to fix stack depth issue
  contracts/hardhat.config.ts
Labels: contracts
