Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Add registry test, remove similar old tests
  contracts/test/expanders-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Add registration expander test
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/expanders-test.ts
Labels: contracts

Add variation with tx.origin payment
  contracts/test/expanders-test.ts
Labels: contracts

Add test with multiple transfers
  contracts/test/expanders-test.ts
Labels: contracts

Remove unused import
  contracts/test/walletAction-test.ts
Labels: contracts

Tidying up
  contracts/shared/deploy.ts
  contracts/shared/helpers/receiptOf.ts
  contracts/test/expanders-test.ts
Labels: contracts

Rename factory imports to avoid underscores, simplify index.ts
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/Experimental.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test/addressRegistry-test.ts
  contracts/test/blsPublicKeyRegistry-test.ts
  contracts/test/deploy-test.ts
  contracts/test/pseudoFloat-test.ts
  contracts/test/regIndex-test.ts
  contracts/test/vlq-test.ts
Labels: contracts, clients

Docs
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/BundleCompressor.ts
Labels: clients

Private key storage
  contracts/clients/contracts/clients/src/PrivateKey.ts
  contracts/clients/contracts/clients/src/SecretStorage.ts
  contracts/clients/contracts/clients/src/privateKeyStorage.ts
Labels: clients

Enable optimized tx.origin payments in fallback expander
  contracts/clients/src/FallbackCompressor.ts
  contracts/contracts/FallbackExpander.sol
  contracts/shared/deploy.ts
Labels: contracts, clients

Test tx.origin payment with fallback expander
  contracts/test/expanders-test.ts
Labels: contracts

Remove reference to signer from provider
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/yarn.lock
Labels: contracts, clients

Cleanup test code & add contract interaction gas estimate tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

re-add accidentally deleted tests
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Add comment explaining throwaway BlsWalletWrapper
  contracts/clients/src/BlsProvider.ts
Labels: clients

Update signature length error message
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Add erc 1271 implementation
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Add BLSPublicKeyFromHash mapping to verification gateway
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/getPublicKeyFromHash.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Add bls provider guide and ts doc comments
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  docs/use_bls_provider.md
Labels: clients, documentation

Remove directly paying aggregator fees docs example
  contracts/clients/README.md
Labels: clients, documentation

Add missing documentation following rebase
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  docs/README.md
Labels: clients, documentation

use chainId and verification gateway in bls domain
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/index.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Use onlyWallet modifier, abi.encode, and change function name
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Return 0xffffffff magic value when sig is invalid
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Fix test by signing message with correct verification gateway
  contracts/test/upgrade-test.ts
Labels: contracts

Check VG is called with wallet via hashFromWallet mapping
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Remove BlsWalletWrapper in provider docs where possible
  docs/use_bls_provider.md
Labels: documentation

Update root readme to include provider link
  README.md
  docs/README.md
Labels: documentation

Fix typescript errors in BundleTable
  aggregator/src/app/BundleTable.ts
Labels: aggregator

Using seperate domains for proof of possession messages and for bundles
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/VerificationGateway.sol
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Rename variables and code cleanup
  contracts/clients/src/signer/defaultDomain.ts
  contracts/clients/src/signer/getDomain.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/VerificationGateway.sol
Labels: contracts, clients

Fix linting issues
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Fix TS issue in aggregator
  aggregator/src/app/BundleTable.ts
Labels: aggregator

Update param naming
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/test/index.test.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

Publish experimental bls-wallet-clients
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/EthereumService.ts
  contracts/clients/README.md
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients, documentation

Add static get random private key method to bls signer
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  docs/use_bls_provider.md
Labels: contracts, clients, documentation

Remove provider & signer from experimental namespace
  contracts/clients/src/index.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  docs/use_bls_provider.md
Labels: contracts, clients, documentation

update test verification gateway address
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

client module experimental release 0.8.2-de12b3c
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Debug session
  .github/workflows/aggregator.yml
Labels: automation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
