Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Update extension config reference
  docs/remote_development.md
Labels: documentation

Update rinkarby instructions to goerli
  docs/remote_development.md
Labels: documentation

Explicit terminal instructions & define HD wallet
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

Correctly instantiate Web3Provider
  docs/use_bls_wallet_dapp.md
Labels: documentation

Remove "run" section from remote dev doc
  docs/remote_development.md
Labels: documentation

Add proxy aggregator diagrams
  aggregator-proxy/README.md
  docs/images/system-overview/instant-wallet-with-dapp-sponsored-txs.jpg
  docs/images/system-overview/instant-wallet-without-dapp-sponsored-txs.jpg
Labels: aggregator-proxy, documentation

Add margin to diagram
  docs/images/system-overview/instant-wallet-with-dapp-sponsored-txs.jpg
Labels: documentation

Add ref to scaffold-eth example dapp
  aggregator-proxy/README.md
  docs/use_bls_wallet_dapp.md
Labels: aggregator-proxy, documentation

updated inputDecode to parse params
  extension/source/Confirm/TransactionCard.tsx
  extension/source/hooks/useInputDecode.tsx
  extension/source/styles/index.scss
  extension/tailwind.config.js
Labels: extension

lint: fixed warnings
  extension/source/Confirm/TransactionCard.tsx
  extension/source/hooks/useInputDecode.tsx
  extension/tailwind.config.js
Labels: extension

Update README.md
  README.md
Labels: documentation

update verificationGateway
  README.md
Labels: documentation

add existing seed phrase during wallet generation
  extension/source/Home/Onboarding/SecretPhrasePanel.tsx
Labels: extension

lint: fix warnings
  extension/source/Home/Onboarding/SecretPhrasePanel.tsx
Labels: extension

added UI for entering recovery hash
  extension/source/Home/Wallet/Wallets/AddWalletModal.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
Labels: extension

Add documentation for aggregator env vars
  aggregator/README.md
Labels: aggregator, documentation

added ui for salt
  extension/source/Home/Wallet/Wallets/AddWalletModal.tsx
Labels: extension

added validation to mnemonic
  extension/source/Home/Onboarding/SecretPhrasePanel.tsx
Labels: extension

removed stray import and reduced line length
  extension/source/Home/Onboarding/SecretPhrasePanel.tsx
Labels: extension

completed workflow for wallet recovery
  extension/source/Home/Wallet/Wallets/AddWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
Labels: extension

lint: fix
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
Labels: extension

updated hex conversion of salt
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
Labels: extension

Add replay attack test after recovery
  contracts/test/recovery-test.ts
Labels: contracts

using temp wallet for recovery
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/types/Rpc.ts
Labels: extension

replace address after recovery
  extension/source/background/KeyringController.ts
Labels: extension

added UI for entering recovery hash (#355)
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/types/Rpc.ts
Labels: extension

Lint fix
  extension/source/types/Rpc.ts
Labels: extension

Add getOperationResults to cleints
  contracts/clients/README.md
  contracts/clients/src/OperationResults.ts
  contracts/clients/src/index.ts
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts, clients, documentation

Add links to contract deployments to README.
  README.md
Labels: documentation

Adding randFr() for PK generation
  extension/package.json
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/background/KeyringController.ts
  extension/source/helpers/randFr.ts
  extension/yarn.lock
Labels: extension

Move send eth script to hardhat task
  contracts/hardhat.config.ts
  contracts/scripts/test/send_eth.ts
Labels: contracts

Throw exception in client if private key has been recovered from
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Add test cases for new require statements. One still not working.
  contracts/test/upgrade-test.ts
Labels: contracts

Add back button to recovery modal
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
Labels: extension

Missed some files to commit
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
Labels: extension

Fix address issues using randFr
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/background/KeyringController.ts
Labels: extension

Fix randFr function by initing the mcl
  extension/source/background/KeyringController.ts
  extension/source/helpers/randFr.ts
Labels: extension

Fix lint issue
  extension/source/background/KeyringController.ts
Labels: extension

Raw update dependencies
  contracts/package.json
  contracts/yarn.lock
Labels: contracts

Disable camelcase rule
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients
