Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Pin bls-wallet-clients@0.8.0
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add empty BlsProvider & BlsSigner classes
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/index.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
Labels: clients

Adding MockERC721 and a mint test
  contracts/contracts/mock/MockERC721.sol
  contracts/package.json
  contracts/test/signer-test.ts
  contracts/yarn.lock
Labels: contracts

Use node-fetch & update verification gateway
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/yarn.lock
Labels: clients

Fund test bls wallet
  contracts/test/BlsSigner.test.ts
Labels: contracts

Add: - provider.sendBlsTransaction - provider.getTransactionReceipt - signer.#verifyInit - signer.signBlsTransaction
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsProvider.test.ts
  contracts/test/BlsSigner.test.ts
Labels: contracts, clients

- Add estimate gas function & test case - Refactor getSigner logic to create singleton signer for each provider - Add getSigner test cases
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsProvider.test.ts
  contracts/test/BlsSigner.test.ts
Labels: contracts, clients

Tidy up
  aggregator/src/app/BundleService.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsProvider.test.ts
  contracts/test/BlsSigner.test.ts
Labels: aggregator, contracts, clients

Update unsupported methods & sendBlsTx logic
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

Rename test files
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts

Add 202 bundle receipt status and add submitError to db
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Fix lint and test errors
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Export decodeError from the client module
  contracts/clients/src/OperationResults.ts
Labels: clients

Revert "Export decodeError from the client module"
  contracts/clients/src/OperationResults.ts
Labels: clients

Export decode error function from the client module
  contracts/clients/src/OperationResults.ts
Labels: clients

Some more clean up
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Extract poll function logic & add retry limit
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/helpers/poll.ts
  contracts/clients/test/poll.test.ts
Labels: clients

Add test case for tx receipt error handling
  contracts/clients/src/BlsProvider.ts
  contracts/test/BlsProvider-test.ts
Labels: contracts, clients

Fix incorrect test argument
  contracts/test/BlsProvider-test.ts
Labels: contracts

Replace use of ActionDataDto with ActionData
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

Standardise the response body
  aggregator/src/app/BundleRouter.ts
Labels: aggregator

Add & update test cases for transaction return types
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts, clients

sendTransaction error test case & remove trycatch
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts, clients

Update readme and index.ts for the decodeError function
  contracts/clients/README.md
  contracts/clients/src/OperationResults.ts
  contracts/clients/src/index.ts
Labels: clients, documentation

Add estimate gas test & update tests to closer align with AAA pattern
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts

update sendBlsTransaction error handling
  contracts/clients/src/BlsProvider.ts
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts, clients

Add test to check account nonce is retrieved
  contracts/package.json
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
  contracts/yarn.lock
Labels: contracts

PR comments
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Update todos
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

transaction.to error handling for & update todos
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsProvider-test.ts
  contracts/test/BlsSigner-test.ts
Labels: contracts, clients

Move provider/signer tests to dedicated directory
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/package.json
  contracts/tsconfig.json
Labels: contracts

provider.call & provider.getTransaction tests
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients/src/BlsProvider.ts
Labels: contracts, clients

Add checkTransaction & populateTransaction tests
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Add signBlsMessage method
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Error handling updates
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Tidy up before publishing PR
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Add explicit override
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

Provider & signer clean slate for merge
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

make index and address non-readonly
  contracts/clients/src/BlsSigner.ts
Labels: clients

Add in unknown error reason
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator
