Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Add lookup methods
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
Labels: contracts

tests
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/test/addressRegistry-test.ts
  contracts/test/blsPublicKeyRegistry-test.ts
Labels: contracts

uint -> uint256
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
Labels: contracts

RegIndex.sol
  contracts/contracts/lib/RegIndex.sol
Labels: contracts

Start tests
  contracts/contracts/lib/RegIndex.sol
  contracts/test/regIndex-test.ts
Labels: contracts

Make RegIndex BigEndian
  contracts/contracts/lib/RegIndex.sol
Labels: contracts

Test 1 and 8,388,607 (latter fails)
  contracts/test/regIndex-test.ts
Labels: contracts

Fix 8,388,607
  contracts/contracts/lib/RegIndex.sol
Labels: contracts

Simplify format, add more tests
  contracts/contracts/lib/RegIndex.sol
  contracts/shared/helpers/bundleCompression.ts
  contracts/test/regIndex-test.ts
Labels: contracts

Include registryUsageBitStream as a VLQ and switch on the bits, but use stubs for the registry usage cases
  contracts/contracts/FallbackExpander.sol
  contracts/shared/helpers/bundleCompression.ts
Labels: contracts

encodeBitStream
  contracts/shared/helpers/bundleCompression.ts
Labels: contracts

Decode regIndexes and use registries in fallback expander
  contracts/contracts/FallbackExpander.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/bundleCompression.ts
Labels: contracts

Scaffold getTransaction method
  contracts/clients/README.md
  contracts/clients/src/BlsProvider.ts
Labels: clients, documentation

Move SafeSingletonFactory into clients
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/test/deploy-test.ts
Labels: contracts, clients

AddressRegistryWrapper
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/index.ts
  contracts/test/addressRegistry-test.ts
Labels: contracts, clients

BlsPublicKeyRegistryWrapper
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/index.ts
  contracts/test/blsPublicKeyRegistry-test.ts
Labels: contracts, clients

BundleCompressor
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/IOperationCompressor.ts
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/encodeUtils.ts
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/pseudoFloat-test.ts
  contracts/test/regIndex-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Make compression async
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/IOperationCompressor.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Use registries
  contracts/clients/src/FallbackCompressor.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Allow passing signer and prefer contracts with signer
  contracts/clients/src/SafeSingletonFactory.ts
Labels: clients

Streamline signerOrProvider
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/helpers/SignerOrProvider.ts
Labels: clients

Use connectIfDeployed
  contracts/shared/helpers/Fixture.ts
Labels: contracts

Remove unnecessary condition, parallelize address calls
  contracts/clients/src/FallbackCompressor.ts
Labels: clients

Wrapper classes for registries
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/helpers/SignerOrProvider.ts
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/test/addressRegistry-test.ts
  contracts/test/blsPublicKeyRegistry-test.ts
  contracts/test/deploy-test.ts
Labels: contracts, clients

BLSRegistration.sol
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/contracts/BLSRegistration.sol
Labels: contracts

Deploy, add compressor
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/contracts/BLSRegistration.sol
  contracts/shared/deploy.ts
Labels: contracts, clients

Include blsRegistrationCompressor in fixture's compressor
  contracts/clients/src/index.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

Add multi-action send transaction method to bls signer
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Add multi-action send transaction method to bls provider
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Adding missing transaction batch signing test case
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Unskip batched tx test
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Add contract interaction tests for provider batched transactions
  contracts/contracts/mock/MockERC20Spender.sol
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Include txn index in errors when "to" has not been defined
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Use mint instead of safeMint to fix failing test
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Move bls signer test to integration tests
  contracts/clients/test/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Fix intermittent signature mismatch
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Move common fee estimate logic to helper functions
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/helpers/addSafetyDivisorToFee.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Fix intermittent timing issue with test
  contracts/test-integration/BlsProviderContractInteraction.test.ts
Labels: contracts

Handle batch options
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

Start expander tests
  contracts/shared/helpers/hexLen.ts
  contracts/test/expanders-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts
