Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Fix typo
  aggregator/src/app/BundleRouter.ts
Labels: aggregator

Remove unused step
  .github/workflows/clients.yml
Labels: automation

Restore aggregatorLogs.txt artifact
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/integration.yml
Labels: automation

Simplify using processBundleWithExtraGas
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Deploy using SafeSingletonFactory
  contracts/clients/src/NetworkConfig.ts
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/lib/hubble-contracts/contracts/libs/BLS.sol
  contracts/scripts/0_deploy_precompile_cost_estimator.ts
  contracts/scripts/1_deploy_bls_wallet_contracts.ts
  contracts/scripts/deploy-deployer.ts
  contracts/scripts/deploy_all.ts
  contracts/shared/SafeSingletonFactory.ts
  contracts/shared/deploy.ts
Labels: contracts, clients

SafeSingletonFactory initial setup
  contracts/package.json
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts

Fix tests running together with fixture singleton and avoiding lazyBlsWallets
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Fix config.test.ts
  contracts/clients/test/config.test.ts
Labels: clients

Remove unused code
  contracts/.env.example
  contracts/contracts/Create2Deployer.sol
  contracts/hardhat.config.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/defaultDeployerWallet.ts
  contracts/shared/helpers/deployAndRunPrecompileCostEstimator.ts
  contracts/shared/helpers/deployDeployer.ts
Labels: contracts

Implement calculateAddress, deploy
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts

Update deploy-test.ts
  contracts/test/deploy-test.ts
Labels: contracts

Remove fundDeployer (no longer needed + doesn't exist)
  .github/actions/local-contract-deploy/action.yml
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
Labels: automation, contracts

Fix recovery-test.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
Labels: contracts

Fix walletAction-test.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Fix upgrade-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Remove lazyBlsWallets
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/test/use_wallet.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Add temporary support for SafeSingletonFactory on 1337
  contracts/scripts/deploy_all.ts
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts

Allow calling deploy multiple times
  contracts/shared/deploy.ts
Labels: contracts

Fix test
  contracts/test/deploy-test.ts
Labels: contracts

Make ProxyAdmin address predetermined
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Use gethDev network for client integration tests
  contracts/package.json
Labels: contracts

Add provider contract tests & update signer tests
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Use blsSigner for contracts tests WIP
  contracts/clients-tests/Signer.test.ts
  contracts/clients/package.json
  contracts/clients/yarn.lock
  contracts/test-integration/Signer.test.ts
Labels: contracts, clients

debug transfer() call test WIP
  contracts/test-integration/Signer.test.ts
Labels: contracts

Add contract factory tests
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Use bls signer for contract interaction tests
  contracts/contracts/mock/MockERC721.sol
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test-integration/Signer.test.ts
Labels: contracts

Update receipt test
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts, clients

Fix false positive test
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Move non-integration tests to clients directory
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Update receipt handling and test
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts, clients

Update readme & failing signer contract test
  contracts/README.md
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, documentation

Increase receipt polling retries
  contracts/clients/src/BlsProvider.ts
Labels: clients

Update issue for todo comments
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Add gas param to Operation in client
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/signer/conversions.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/test/index.test.ts
Labels: clients

Add gas param to tests.
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/BLSExpander.sol
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Add gas limit (WIP)
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/types.ts
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

signWithGasLimit
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Fix gas measurement for wallets which don't yet exist
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Change port to --net=host
  aggregator/programs/start-docker.sh
Labels: aggregator

Add workaround for COST_ESTIMATOR_ADDRESS
  contracts/contracts/lib/hubble-contracts/contracts/libs/BLS.sol
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts
