Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

trigger aggregator build
  aggregator/.env.example
Labels: aggregator

Update config system in prep for network switching
  .github/actions/build-upload-extension/action.yml
  extension/.gitignore
  extension/buildBlsNetworksConfig.js
  extension/config.example.json
  extension/package.json
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/AggregatorController.ts
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/background/networks.ts
  extension/source/blsNetworksConfig.ts
  extension/source/config.ts
  extension/source/env.ts
  extension/tsconfig.json
  extension/webpack.config.js
Labels: automation, extension

Move builtinNetworks into config
  extension/.env.example
  extension/.env.release
  extension/config.example.json
  extension/source/QuillStorageCells.ts
  extension/source/background/AggregatorController.ts
  extension/source/background/ProviderConfig.ts
  extension/source/background/networks.ts
  extension/source/config.ts
  extension/source/hooks/useInputDecode.tsx
Labels: extension

Move currencyConversionConfig into config
  extension/config.example.json
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
  extension/source/config.ts
Labels: extension

Select network in ui
  extension/source/Home/Wallet/Settings/NetworkSettings.tsx
  extension/source/QuillContext.tsx
Labels: extension

mixtureHasChanged
  extension/source/cells/CellCollection.ts
  extension/source/cells/FormulaCell.ts
  extension/source/cells/MemoryCell.ts
  extension/source/cells/TransformCell.ts
  extension/source/cells/mixtureHasChanged.ts
Labels: extension

Fix issue where ethers Web3Provider assumes network doesn't change, handle addresses changing per network
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/Home/index.tsx
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/cells/FormulaCell.ts
  extension/source/cells/mixtureCopy.ts
  extension/source/hooks/useInputDecode.tsx
  extension/source/types/window.d.ts
Labels: extension

Implement per-network information for wallets
  extension/source/QuillContext.tsx
  extension/source/QuillEthereumProvider.ts
  extension/source/QuillStorageCells.ts
  extension/source/background/KeyringController.ts
  extension/source/background/Preferences.ts
  extension/source/background/PreferencesController.ts
  extension/source/background/QuillController.ts
  extension/source/background/TransactionsController.ts
  extension/source/cells/mixtureHasChanged.ts
  extension/source/types/Rpc.ts
Labels: extension

lookupAddress -> pkHashToAddress
  extension/source/QuillContext.tsx
  extension/source/QuillEthereumProvider.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/types/Rpc.ts
Labels: extension

Fix duplication of getting bls network config
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/background/getBlsNetworkConfig.ts
Labels: extension

Restore preferred nonce sourcing
  extension/source/background/AggregatorController.ts
Labels: extension

Fix global access of blsNetworksConfig
  extension/source/BlsNetworksConfig.ts
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/QuillContext.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
Labels: extension

Fix global config access
  extension/source/Config.ts
  extension/source/Home/Wallet/Settings/NetworkSettings.tsx
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
Labels: extension

Fix commented hasChanged
  extension/source/cells/CellCollection.ts
Labels: extension

Fix build failures
  .github/actions/build-upload-extension/action.yml
  .github/workflows/extension.yml
  extension/config.release.json
  extension/package.json
  extension/scripts/addFileStubsIfNeeded.sh
Labels: automation, extension

Update markup and advice in PR template
  .github/pull_request_template.md
Labels: automation, documentation

Fix wrapping
  .github/pull_request_template.md
Labels: automation, documentation

Adjust copy
  .github/pull_request_template.md
Labels: automation, documentation

When wrapping className, use one class per line
  extension/source/Confirm/Confirm.tsx
  extension/source/Home/Onboarding/OnboardingActionPanel.tsx
  extension/source/Home/Onboarding/PasswordCreationForm.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/ViewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/WorkflowNumbers.tsx
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/Home/Wallet/WalletsPage.tsx
Labels: extension

Adding .nvmrc to specify node version
  .nvmrc
  docs/local_development.md
Labels: documentation

Update git ignore for webstorm
  .gitignore
Labels: none

Support node 18
  extension/package.json
  extension/webpack.config.js
  extension/yarn.lock
Labels: extension

Specify latest LTS instead of 16
  .nvmrc
Labels: none

Fix linting issues
  extension/source/cells/CellIterator.ts
Labels: extension

Get default currency from ip api, remove preference identities
  extension/source/QuillStorageCells.ts
  extension/source/background/Preferences.ts
  extension/source/background/PreferencesController.ts
  extension/source/background/QuillController.ts
  extension/source/currencies/defaultCurrency.ts
Labels: extension

Add currency selection in general settings
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/Preferences.ts
  extension/source/background/QuillController.ts
  extension/source/currencies/currencyOrderings.ts
Labels: extension

Add TODO
  extension/source/background/CurrencyConversionCell.ts
Labels: extension

Update .github/pull_request_template.md
  .github/pull_request_template.md
Labels: automation, documentation

Add alphabetical option
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
Labels: extension

Put fields into currency conversion, CurrencyDisplay
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/QuillController.ts
  extension/source/cells/useCellish.ts
  extension/source/components/CurrencyDisplay.tsx
  extension/source/helpers/getPropOrUndefined.ts
  extension/source/types/LongPollingCells.ts
Labels: extension

Convert currency in ConnectionSummary and AmountSelector
  extension/source/Home/Wallet/Connections/ConnectionSummary.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AmountSelector.tsx
Labels: extension

Add currency conversion to confirm dialog
  extension/source/Confirm/Confirm.tsx
  extension/source/Confirm/TransactionCard.tsx
  extension/source/Confirm/index.tsx
Labels: extension

Use grid for values in confirm popup
  extension/source/Confirm/Confirm.tsx
  extension/source/Confirm/TransactionCard.tsx
  extension/source/components/ChainCurrency.tsx
  extension/source/components/PreferredCurrency.tsx
Labels: extension

PreferredCurrencySymbol
  extension/source/Home/Wallet/Connections/ConnectionSummary.tsx
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/components/PreferredCurrencySymbol.tsx
Labels: extension

Styling for eth symbol
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
Labels: extension

Remove unused import
  extension/source/Confirm/TransactionCard.tsx
Labels: extension

Fix linting issues
  extension/source/QuillContext.tsx
Labels: extension

Adding a vault value to the KeyringController that is an encrypted string of the wallet
  extension/package.json
  extension/source/Home/Onboarding/PasswordCreationPanel.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/types/Rpc.ts
  extension/source/types/browser-passworder.d.ts
  extension/yarn.lock
Labels: extension

Update .github/pull_request_template.md
  .github/pull_request_template.md
Labels: automation, documentation

Fix broken links
  docs/README.md
Labels: documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
