Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Remove log
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Use +20% fee to ensure tx gets processed during test (lots of gas fluctuation in hardhat)
  aggregator/test/AggregationStrategy.test.ts
Labels: aggregator

Return failedRows correctly
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Include errorReason in estimateFee, fix test
  aggregator/src/app/AggregationStrategy.ts
  aggregator/test/BundleServiceFees.test.ts
Labels: aggregator

Fix 9/10 bundle test
  aggregator/test/BundleServiceFees.test.ts
Labels: aggregator

Fix BundleServiceSubmitting tests
  aggregator/src/app/AggregationStrategy.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Get accurate fee estimates by using custom gas prices
  aggregator/.env.example
  aggregator/manualTests/createTestWallet.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/helpers/TestBlsWallet.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/app.ts
  aggregator/src/env.ts
  aggregator/test/AggregationStrategy.test.ts
Labels: aggregator

Update example configs
  aggregator/.env.example
  aggregator/.env.local.example
Labels: aggregator

Add config comments
  aggregator/.env.example
  aggregator/src/env.ts
Labels: aggregator

Fix AUTO_CREATE_INTERNAL_BLS_WALLET in examples
  aggregator/.env.example
  aggregator/.env.local.example
Labels: aggregator

Log bundleOverheadCost
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
Labels: aggregator

Add test for provider.connection
  contracts/clients-tests/BlsProvider.test.ts
Labels: contracts

Add more erc721 tests
  contracts/package.json
  contracts/test/signer-test.ts
  contracts/yarn.lock
Labels: contracts

Fixing lint errors
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/scripts/test/measure_gas.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

Add unchecked bls signer
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Add test for listAccounts
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
Labels: contracts

Test recovery of blswallet via blswallet call (#420)
  contracts/test/recovery-test.ts
Labels: contracts

Add test for provider.send
  contracts/clients-tests/BlsProvider.test.ts
Labels: contracts

Add bls signer blockchain methods
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Move test file to clients-tests directory
  contracts/clients-tests/Signer.test.ts
Labels: contracts

Workflow for spinning up env & running tests WIP
  .github/workflows/clients.yml
Labels: automation

test commit
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Combine test jobs into one
  .github/workflows/clients.yml
Labels: automation

Wait for agg to start up before running tests
  .github/workflows/clients.yml
Labels: automation

Split run tests command and run agg command up
  .github/workflows/clients.yml
Labels: automation

Delete echo
  .github/workflows/clients.yml
Labels: automation

Add deno config
  .github/workflows/clients.yml
Labels: automation

Run aggregator using deno run
  .github/workflows/clients.yml
Labels: automation

Update deno config
  .github/workflows/clients.yml
Labels: automation

remove bash
  .github/workflows/clients.yml
Labels: automation

Add dashes
  .github/workflows/clients.yml
Labels: automation

Separate run commands
  .github/workflows/clients.yml
Labels: automation

change dir
  .github/workflows/clients.yml
Labels: automation

Add actions WIP
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
Labels: automation

Address failing provider test in workflow
  contracts/clients-tests/BlsProvider.test.ts
Labels: contracts

Move setup to dedicated actions
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
Labels: automation

Add shell to contract deploy
  .github/actions/local-contract-deploy/action.yml
Labels: automation

Add shell to aggregator deploy action
  .github/actions/local-aggregator-deploy/action.yml
Labels: automation

move comment
  .github/actions/local-aggregator-deploy/action.yml
Labels: automation

Test remove sleep & tidy up
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
Labels: automation
