Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Reorder workflow steps
  .github/workflows/aggregator.yml
Labels: automation

Audit issue 7 fixes
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Remove unused params
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
Labels: clients

Fix contract tests
  contracts/test-integration/BlsSigner.test.ts
  contracts/test/expect/Pubkey.ts
  contracts/test/expect/index.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Add wait for contract deploy script to agg workflow
  .github/workflows/aggregator.yml
  aggregator/src/app/app.ts
Labels: aggregator, automation

Remove potential fix
  .github/workflows/aggregator.yml
Labels: automation

Remove CI test comment
  aggregator/src/app/app.ts
Labels: aggregator

Manually estimate test fee & add afterEach
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Isolate failing test
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Add test additional logging
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Isolate failing test and preceding BlsSigner tests
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Isolate BlsSigner and provider contract interaction tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Run provider tests but skip provider contract interaction tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
Labels: contracts

Fix log formatting
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Don't skip contract interaction tests
  contracts/test-integration/BlsProviderContractInteraction.test.ts
Labels: contracts

Add more logging
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

remove my todo
  aggregator/test/HealthService.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

fix deno lint error
  aggregator/src/app/HealthService.ts
Labels: aggregator

dbhealthcheck
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
Labels: aggregator

add healthcheck test
  aggregator/src/app/HealthService.ts
  aggregator/test/HealthService.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

RPC/Aggregator/DB check health feature completed
  aggregator/deps.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
Labels: aggregator

simplified healthendpoint design
  aggregator/deps.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
Labels: aggregator

Fix bls-wallet-clients
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

ERC20Expander
  contracts/contracts/ERC20Expander.sol
Labels: contracts

further minimize the change
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
Labels: aggregator

modify test
  aggregator/test/HealthService.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Erc20Compressor
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/Erc20Compressor.ts
  contracts/contracts/ERC20Expander.sol
Labels: contracts, clients

Test erc20 transfer
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/expanders-test.ts
Labels: contracts, clients

healthendpoint 2nd fixup
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/test/HealthService.test.ts
Labels: aggregator

Add approveMax test
  contracts/test/expanders-test.ts
Labels: contracts

Update docs
  contracts/clients/src/Erc20Compressor.ts
  contracts/contracts/ERC20Expander.sol
  contracts/test/expanders-test.ts
Labels: contracts, clients

Fix bls-wallet-clients
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

Remove log
  contracts/test/expanders-test.ts
Labels: contracts

Add /health to aggregator
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
  aggregator/test/HealthService.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

v0.8.3
  contracts/clients/package.json
Labels: clients

Point components to v0.8.3
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Update clients in aggregator
  aggregator/deps.ts
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/parsers.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/EthereumService.test.ts
  aggregator/test/helpers/Fixture.ts
  aggregator/test/parsers.test.ts
Labels: aggregator

Fix page move when border is increased
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/styles/_quill.scss
Labels: extension

Pin bls-wallet-clients@0.8.3-f6ab5d9
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add gas op field in agg proxy, fix factory rename in agg deps
  aggregator-proxy/src/BundleDto.ts
  aggregator/deps.ts
Labels: aggregator, aggregator-proxy

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
