Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Fix deterministic creation of VG using ProxyAdminGenerator
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Inline BLS_DOMAIN calc (fit deployment into 30m)
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Replace lazyBlsWallets with just creating wallets
  contracts/scripts/test/use_wallet.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/test/recovery-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

Fix tests
  contracts/test/recovery-test.ts
Labels: contracts

Fix lint issue
  contracts/shared/helpers/Fixture.ts
Labels: contracts

Use official SafeSingletonFactory for 1337
  contracts/contracts/lib/hubble-contracts/contracts/libs/BLS.sol
  contracts/shared/SafeSingletonFactory.ts
Labels: contracts

Allow deploy() when already deployed
  contracts/shared/deploy.ts
Labels: contracts

Update contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Document easier ways of running aggregator
  aggregator/README.md
Labels: aggregator, documentation

Update hosting guide to use dockerhub images
  aggregator/README.md
Labels: aggregator, documentation

Fix intermittent test failure by using normalized hex strings
  contracts/test/recovery-test.ts
Labels: contracts

Use BLSWallet and ProxyAdmin directly inside VerificationGateway
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/shared/deploy.ts
Labels: contracts

Remove unused blsLibrary address
  contracts/clients/src/BlsWalletContracts.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/test/config.test.ts
Labels: clients

Remove unused contract (now inside VG)
  contracts/scripts/deploy_all.ts
  contracts/shared/deploy.ts
Labels: contracts

Use BLSOpen as a library instead of a contract
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/lib/BLSOpen.sol
  contracts/contracts/lib/IBLS.sol
  contracts/contracts/lib/hubble-contracts/contracts/libs/BLS.sol
  contracts/contracts/lib/hubble-contracts/contracts/libs/BNPairingPrecompileCostEstimator.sol
  contracts/contracts/lib/hubble-contracts/contracts/libs/ModExp.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts

log addr
  contracts/shared/deploy.ts
Labels: contracts

Remove unused compiler versions
  contracts/hardhat.config.ts
Labels: contracts

Remove debug log
  contracts/shared/deploy.ts
Labels: contracts

Add provider tests for base provider, event emitter, logs, inspection methods
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

Generate test private keys with BlsWalletWrapper helper method
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

Append action to pay tx.origin when estimating fee & update docs
  contracts/clients/README.md
  contracts/clients/src/BlsProvider.ts
Labels: clients, documentation

Move gas estimate to signer when sending txs via provider
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

Update fee estimate examples
  contracts/clients/README.md
Labels: clients, documentation

Set require fees to true in test env
  aggregator/.env.test
Labels: aggregator

Use estimateFee and pay fees
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

Update env.test to closer match .env.local.example & update signer sign tx test
  aggregator/.env.test
  contracts/test-integration/BlsSigner.test.ts
Labels: aggregator, contracts

Update tests for invalid signed transaction
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts

Ensure signer is funded for bls provider contract tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  docs/local_development.md
Labels: contracts, documentation

Add accounts, blocks, & network status method tests
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
Labels: contracts

Update chainIds to reflect geth integration test changes
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Add getTransactionCount method and update tests
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

bump
  aggregator/deps.ts
Labels: aggregator

Move BlsWalletWrapper private key references to blsWalletSigner
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getPublicKey.ts
  contracts/clients/src/signer/getPublicKeyHash.ts
  contracts/clients/src/signer/getPublicKeyStr.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/signMessage.ts
  contracts/clients/test/index.test.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Remove optional blsWalletSigner param
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Rename test vars and clean up
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/index.test.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
Labels: contracts, clients

Remove private key param from syncWallet method
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/recovery-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

Update clients readme
  contracts/clients/README.md
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients, documentation

Publish experimental release, update extension & aggregator
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/manualTests/createTestWallet.ts
  aggregator/src/app/EthereumService.ts
  contracts/clients/package.json
  extension/package.json
  extension/source/background/KeyringController.ts
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

More pseudofloat tests
  contracts/test/pseudoFloat-test.ts
Labels: contracts

AddressRegistry.sol, BLSPublicKeyRegistry.sol
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
Labels: contracts
