Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Fix getInitializeData
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Add bloat
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Just use USD instead of ip-api
  extension/source/QuillStorageCells.ts
  extension/source/currencies/defaultCurrency.ts
Labels: extension

yarn install -> yarn add
  docs/use_bls_wallet_clients.md
Labels: documentation

Remove unnecessary line
  docs/use_bls_wallet_clients.md
Labels: documentation

Make example code work
  docs/use_bls_wallet_clients.md
Labels: documentation

Remove unused import
  extension/source/QuillStorageCells.ts
Labels: extension

Fixing the add recovery wallet function
  extension/source/background/KeyringController.ts
Labels: extension

Use aggregator url from currently selected network
  extension/source/background/KeyringController.ts
Labels: extension

Adding a param for the signers private key and saving the new wallet in the keyring
  extension/source/background/KeyringController.ts
  extension/source/types/Rpc.ts
Labels: extension

Update docs/use_bls_wallet_clients.md
  docs/use_bls_wallet_clients.md
Labels: documentation

update config for extension
  extension/config.example.json
  extension/config.release.json
Labels: extension

Restrict Owner functions from ProxyAdmin call (03)
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Sign wallet address in msg (04) - WIP
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Sign key hash with chainid and UserOp - protect from rogue key attack (01)
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/contracts/VerificationGateway.sol
Labels: contracts, clients

Increment nonce before operation - protect from relpay reentrancy (02)
  contracts/contracts/BLSWallet.sol
Labels: contracts

Sign wallet address in msg (04) tests
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

WIP Fix client tests, run agg tests on contract changes
  .github/workflows/aggregator.yml
  contracts/clients/test/index.test.ts
Labels: automation, clients

WIP Remove main branch requirement to run CI steps
  .github/workflows/aggregator-proxy.yml
  .github/workflows/aggregator.yml
  .github/workflows/clients.yml
  .github/workflows/contracts.yml
  .github/workflows/extension.yml
Labels: automation

WIP Add back in main restriction for push workflow trigger
  .github/workflows/aggregator-proxy.yml
  .github/workflows/aggregator.yml
  .github/workflows/clients.yml
  .github/workflows/contracts.yml
  .github/workflows/extension.yml
Labels: automation

WIP Add build test to client CI process
  .github/workflows/clients.yml
Labels: automation

WIP Fix typechain import path
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Remove processBundle
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Embrace 4337 in VerificationGateway
  contracts/contracts/VerificationGateway.sol
  contracts/package.json
  contracts/yarn.lock
Labels: contracts

Move blsKey inside BLSWallet
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
Labels: contracts

Move signature aggregation and validation to separate contract
  contracts/contracts/AggregateSigValidator.sol
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Remove unused function
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Comment out BLSExpander functions
  contracts/contracts/BLSExpander.sol
Labels: contracts

import EntryPoint.sol
  contracts/contracts/EntryPoint.sol
Labels: contracts

4337 updates for BLSWallet.sol
  contracts/contracts/BLSWallet.sol
  contracts/contracts/interfaces/IWallet.sol
Labels: contracts

Remove unnecessary solidity import (types are available in package)
  contracts/contracts/EntryPoint.sol
Labels: contracts

Update contracts deployment
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
Labels: contracts

Minor fixes from review
  contracts/clients/src/signer/verify.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

Remove gateway param to return compatible to server tests
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Remove unneeded arg, expand on any cast.
  contracts/clients/src/signer/verify.ts
  contracts/test/recovery-test.ts
Labels: contracts, clients

Add wallet AddressFromPublicKey function
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Bump bls-wallet-clients to v0.8.0
  contracts/clients/package.json
Labels: clients

Bump bls-wallet-clients version to experimental v0.8.0
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Fix import string & contract lint
  aggregator/deps.ts
  contracts/clients/src/BlsWalletWrapper.ts
Labels: aggregator, clients

Basic expander
  contracts/contracts/Expander.sol
Labels: contracts
