Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

Update deps in clients
  contracts/.gitignore
  contracts/clients/package.json
  contracts/clients/yarn.lock
Labels: contracts, clients

typechain-types migration
  contracts/clients/.npmignore
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/typechain
  contracts/clients/typechain-types
  contracts/package.json
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/test/deploy-test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/tsconfig.json
Labels: contracts, clients

Fix test
  contracts/test/walletAction-test.ts
Labels: contracts

Fix types
  contracts/clients/src/signer/types.ts
Labels: clients

Fix eslint issue
  contracts/shared/helpers/Fixture.ts
Labels: contracts

Use encrypted storage for everything except onboarding
  extension/source/QuillStorageCells.ts
Labels: extension

Pass cell collections consistently and avoid 'config'
  extension/source/QuillContext.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/QuillController.ts
  extension/source/background/index.ts
Labels: extension

Derive encryption key once instead of on every operation
  extension/source/QuillEthereumProvider.ts
  extension/source/cells/encryptedLocalCellCollection.ts
Labels: extension

Add bundle hash and txhash to receipt request
  aggregator/src/app/BundleService.ts
Labels: aggregator

Save txhash on transaction in local storage
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/QuillController.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Don't run aggregator tests for contract-updates
  .github/workflows/aggregator.yml
Labels: automation

Fix case issue with filtering in the tx table
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
Labels: extension

Return txhash from aggregator and display in Quill (#369)
  aggregator/src/app/BundleService.ts
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/QuillController.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: aggregator, extension

Log bundle error and add script to test
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Spacing
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Add empty BlsProvider & BlsSigner classes
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/index.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
Labels: clients

Remove redundant disables
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Check selectorId before address (since address is not there for renounceOwnership)
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Use ActionError instead of formatted string, parse Error, Panic in js-land, fallback to reporting bytes
  contracts/clients/src/OperationResults.ts
  contracts/contracts/BLSWallet.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Remove redundant disables (#390)
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Code clean up
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Fix test failure
  aggregator/src/app/EthereumService.ts
Labels: aggregator

better handle no admin params
  contracts/contracts/VerificationGateway.sol
  contracts/test/upgrade-test.ts
Labels: contracts

Send transactions WIP
  aggregator/src/app/BundleService.ts
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test/BlsProvider.test.ts
  contracts/test/BlsSigner.test.ts
Labels: aggregator, contracts, clients

Deploy to arbitrum goerli
  contracts/networks/arbitrum-goerli.json
Labels: contracts

Update client pins
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add init wallet method
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test/BlsSigner.test.ts
Labels: contracts, clients

Shell for a test. Works with default signers
  contracts/test/provider-test.ts
Labels: contracts

Limit wallet.nonce() to 50000 gas
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Add gasLimit to Operation (unused but signed), defaulting to MaxUint256
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/conversions.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/types.ts
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
Labels: contracts, clients

Fix type of ActionData.encodedFunction
  contracts/clients/src/signer/types.ts
Labels: clients

Update bls-wallet-clients usage to 940dd11
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Clean up and fix test ETH send test
  contracts/test/provider-test.ts
  contracts/test/signer-test.ts
Labels: contracts

Add mock erc20 test
  contracts/test/signer-test.ts
Labels: contracts

Change gasLimit default to 0
  contracts/clients/src/signer/sign.ts
Labels: clients

Apply gas limit to performOperation
  contracts/contracts/VerificationGateway.sol
Labels: contracts

Don't use the default signers provided by ethers
  contracts/test/signer-test.ts
Labels: contracts

Add remaining erc20 tests
  contracts/test/signer-test.ts
Labels: contracts

Code clean up
  contracts/test/signer-test.ts
Labels: contracts

Update comment
  contracts/test/signer-test.ts
Labels: contracts

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'
