Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Fix extension build
  contracts/networks/arbitrum-goerli.json
  contracts/networks/optimism-goerli.json
  extension/package.json
  extension/source/QuillContext.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/webpack.config.js
  extension/yarn.lock
Labels: extension, contracts

Remove ethers.js resolution
  extension/package.json
  extension/yarn.lock
Labels: extension

Add resolution for @ethersproject/signing-key
  extension/package.json
  extension/yarn.lock
Labels: extension

Fix test case exceeding max bundle gas limit.
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Audit issue 7 fixes (#571)
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/getDomain.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

Add freshness check to proof of possession signatures
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/getPublicKeyFromHash.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

add signature expiry negative logic tests
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

rename signatureExpiryWindow to signatureExpiryOffsetSeconds
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

Add comments to explain test logic
  contracts/test/recovery-test.ts
Labels: contracts

Update client signature tests with new domain
  contracts/clients/test/index.test.ts
Labels: clients

Pin bls-wallet-clients@0.8.3-c34db60
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add expiry timestamp to recovery bundle in extension.
  contracts/test/recovery-test.ts
  extension/source/QuillContext.tsx
  extension/source/background/KeyringController.ts
Labels: extension, contracts

Fix extension lint warnings, pass vg address to signer.
  aggregator/src/app/EthereumService.ts
  extension/source/background/KeyringController.ts
Labels: aggregator, extension

Fix BlsProvider tests - use correct nonce in multiple operation sendTransaction error test - add Operation gas property to missing test setup - use new VG address
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts

Fix BlsProviderContractInteraction tests - set nonce to zero at all times in provider.estimateGas to prevent "BLSWallet: only callable with current nonce" error (see comment)
  contracts/clients/src/BlsProvider.ts
Labels: clients

Fix BlsSigner tests - update invalid transaction expected error message (due to using signWithGasEstimate in BlsSigner) - fix sign tx batch test by replicating what BlsSigner logic does
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

fix: assing TransactionReceipt to getOperationResults always results in no WalletOperationProcessed events found in transaction error
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OperationResults.test.ts
Labels: clients

Run quill against geth node (chainId 1337)
  contracts/clients/test/BlsSigner.test.ts
  docs/local_development.md
  extension/config.example.json
  extension/config.release.json
Labels: extension, clients, documentation

Add fee payment action to quill
  extension/source/background/AggregatorController.ts
Labels: extension

Update docs
  contracts/README.md
  docs/local_development.md
  extension/README.md
Labels: extension, contracts, documentation

Fix typos
  extension/README.md
  extension/source/background/AggregatorController.ts
Labels: extension, documentation

hardhat uses same chainId as geth node (1337)
  contracts/hardhat.config.ts
  docs/local_development.md
Labels: contracts, documentation

Fix page move when border is increased (#578)
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/styles/_quill.scss
Labels: extension

Import ActionData from deps
  aggregator/deps.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mintNViaAggregator.ts
Labels: aggregator

Configure cors for geth dev
  contracts/scripts/start.sh
Labels: contracts

Use events to lookup expanders
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/Erc20Compressor.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/IOperationCompressor.ts
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

Serialize expander deployments
  contracts/shared/deploy.ts
Labels: contracts

ContractsConnector
  contracts/clients/src/ContractsConnector.ts
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/index.ts
Labels: clients

Use compression
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

registerWallet
  aggregator/manualTests/helpers/receiptOf.ts
  aggregator/manualTests/registerWallet.ts
Labels: aggregator

.utilities -> .aggregatorUtilities
  aggregator/src/app/AggregationStrategy.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/EthereumService.test.ts
Labels: aggregator

Add tx len info to events
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

Remove unused variable
  aggregator/src/app/app.ts
Labels: aggregator

Set up bundleCompressor in EthereumService
  aggregator/deps.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/app.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Deploy to arbitrum goerli
  contracts/networks/arbitrum-goerli.json
Labels: contracts

Show address that lacks funds
  contracts/clients/src/SafeSingletonFactory.ts
Labels: clients

Add name and version to bls wallet domains
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/signer/getDomain.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/test/config.test.ts
  contracts/contracts/VerificationGateway.sol
  contracts/scripts/deploy_all.ts
Labels: contracts, clients

Update test sigs & convert domain to hex string in deployment
  contracts/clients/test/index.test.ts
  contracts/scripts/deploy_all.ts
Labels: contracts, clients

Use ExpanderEntryPoint to avoid solidity abi
  contracts/clients/src/ContractsConnector.ts
  contracts/clients/src/OperationResults.ts
  contracts/contracts/ExpanderEntryPoint.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/expanders-test.ts
Labels: contracts, clients

Use ExpanderEntryPoint in aggregator
  aggregator/deps.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator
