Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

updated network name based on chainlist defaults
  aggregator/.env.example
  contracts/.env.example
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-goerli.json
  extension/.env.example
Labels: aggregator, extension, contracts

Use updated bls-wallet-clients
  aggregator/deps.ts
Labels: aggregator

Remove no longer necessary branch switching in setup
  docs/local_development.md
Labels: documentation

updated network naming
  docs/local_development.md
  extension/.env.example
Labels: extension, documentation

Use updated bls-wallet-clients (contracts compatibility)
  extension/package.json
  extension/yarn.lock
Labels: extension

Update arbitrum-goerli deployment
  contracts/networks/arbitrum-goerli.json
Labels: contracts

Revert markdown formatting changes
  docs/local_development.md
Labels: documentation

Fix formatting
  contracts/networks/arbitrum-goerli.json
Labels: contracts

Remove contracts workaround in aggregator.yml
  .github/workflows/aggregator.yml
Labels: automation

Use local config when testing aggregator
  .github/workflows/aggregator.yml
  aggregator/.env.local.example
  aggregator/.gitignore
Labels: aggregator, automation

Gas adjustment (in test) for new contracts
  aggregator/test/BundleServiceFees.test.ts
Labels: aggregator

0.7.0
  contracts/clients/package.json
Labels: clients

Use clients 0.7.0 in extension
  extension/package.json
  extension/yarn.lock
Labels: extension

Use clients 0.7.0 in aggregator-proxy
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
Labels: aggregator-proxy

Use clients 0.7.0 in aggregator
  aggregator/deps.ts
Labels: aggregator

Return results in Operation event for visibility of failing actions
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Update bls-wallet-clients experimental with main
  extension/package.json
  extension/yarn.lock
Labels: extension

Remove empty local.json from CI build
  .github/workflows/extension.yml
Labels: automation

Update setup script with new extension config
  aggregator/README.md
  setup.ts
Labels: aggregator, documentation

Update extension & aggregator configs.
  aggregator/.env.local.example
  contracts/hardhat.config.ts
  extension/config.example.json
  extension/config.release.json
Labels: aggregator, extension, contracts

Default extension network to arbitrum goerli
  extension/config.example.json
  extension/config.release.json
Labels: extension

Revert changes in aggregator local env
  aggregator/.env.local.example
Labels: aggregator

Return index and error message of action in failed Operation
  contracts/contracts/BLSWallet.sol
  contracts/test/walletAction-test.ts
Labels: contracts

Emit action data with Operation event
  contracts/contracts/VerificationGateway.sol
Labels: contracts

added wrapper to return bls signer without connecting to VG
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

0.7.1
  contracts/clients/package.json
Labels: clients

Update projects to bls-wallet-clients 0.7.1
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Fix issue with exisiting wallet addresses
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

Pin bls-wallet-clients@0.7.1-2790596
  aggregator-proxy/package.json
  aggregator/deps.ts
  extension/package.json
Labels: aggregator, aggregator-proxy, extension

Add sendEth utility Hardhat task to contracts
  contracts/hardhat.config.ts
  contracts/scripts/test/send_eth.ts
Labels: contracts

Add yarn.locks
  aggregator-proxy/yarn.lock
  extension/yarn.lock
Labels: aggregator-proxy, extension

Update projects to bls-wallet-clients 0.7.3
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

WIP Throw exception in client if private key has been recovered from
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/test/recovery-test.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, contracts, clients

Pin bls-wallet-clients@0.7.3-d193dff
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension

Add addRecoveryWallet function to the keyring controller
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/types/Rpc.ts
Labels: extension

Avoid $ prefix
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
Labels: extension

Get wallet hash from the recovery address so user no longer needs to copy that over
  extension/source/background/KeyringController.ts
Labels: extension

Update types for addRecoveryWallet method
  extension/source/types/Rpc.ts
Labels: extension

Draft
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/interfaces/UserOperation4337.sol
  contracts/hardhat.config.ts
Labels: contracts, clients

Reduce gas by pruning recovery
  contracts/contracts/VerificationGateway.sol
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts
