Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

uuid -> RandomId
  extension/package.json
  extension/source/background/TransactionsController.ts
  extension/yarn.lock
Labels: extension

Prompt user before connecting wallet (since connecting wallet is slow)
  extension/source/background/AggregatorController.ts
Labels: extension

Use local InternalRpc
  extension/source/background/AggregatorController.ts
Labels: extension

Improve typing of prompt messaging
  extension/source/Confirm/Confirm.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/TransactionsController.ts
Labels: extension

Move transaction typing into QuillStorageCells
  extension/source/QuillStorageCells.ts
  extension/source/background/TransactionsController.ts
Labels: extension

Reject invalid transitions, simplify transition table, require valid status in rpc
  extension/source/QuillStorageCells.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Clearer failure when user doesn't approve
  extension/source/Confirm/Confirm.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Don't require popup for quill-initiated transactions
  extension/source/background/AggregatorController.ts
Labels: extension

Restore enum
  extension/source/Confirm/Confirm.tsx
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Restore noUnusedLocals:false
  extension/tsconfig.json
Labels: extension

Show nonce on transactions tab
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
  extension/source/cells/useCell.ts
Labels: extension

Require confirm dialog for Quill txs, but add todo
  extension/source/background/AggregatorController.ts
Labels: extension

Require confirm dialog for Quill txs, but add todo
  extension/source/background/AggregatorController.ts
Labels: extension

Don't allow unused variables
  extension/tsconfig.json
Labels: extension

Use <quill> for internal methods
  extension/source/types/Rpc.ts
Labels: extension

Reject invalid transitions, simplify transition table, require valid status in rpc
  extension/source/QuillStorageCells.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Move transaction typing into QuillStorageCells
  extension/source/QuillStorageCells.ts
  extension/source/background/TransactionsController.ts
Labels: extension

Restore enum
  extension/source/Confirm/Confirm.tsx
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Clearer failure when user doesn't approve
  extension/source/Confirm/Confirm.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension

Improve typing of prompt messaging
  extension/source/Confirm/Confirm.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/TransactionsController.ts
Labels: extension

uuid -> RandomId
  extension/package.json
  extension/source/background/TransactionsController.ts
  extension/yarn.lock
Labels: extension

Use local InternalRpc
  extension/source/background/AggregatorController.ts
Labels: extension

Don't require popup for quill-initiated transactions
  extension/source/background/AggregatorController.ts
Labels: extension

Prompt user before connecting wallet (since connecting wallet is slow)
  extension/source/background/AggregatorController.ts
Labels: extension

Restore noUnusedLocals:false
  extension/tsconfig.json
Labels: extension

Use QuillContext in Confirm dialog
  extension/source/Confirm/Confirm.tsx
  extension/source/Confirm/index.tsx
  extension/source/Home/Home.tsx
  extension/source/Home/LoadingPage.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/Home/Theme.tsx
  extension/source/Home/Wallet/Settings/DeveloperSettings.tsx
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
  extension/source/Home/Wallet/Settings/NetworkSettings.tsx
  extension/source/Home/Wallet/Wallets/Balance.tsx
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/SendDetail.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/SendProgress.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/QuillContext.tsx
  extension/source/types/window.d.ts
Labels: extension

Restore placeholder tables with notice and fix key issues
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
Labels: extension

Fix typing in AssetsTable.tsx
  extension/package.json
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/yarn.lock
Labels: extension

Specify deps for carousel correctly
  extension/source/Popup/components/Carousel.tsx
Labels: extension

Rebuild config for typescript and eslint, lint fixes
  extension/.eslintrc.js
  extension/.eslintrc.json
  extension/.prettierrc.json
  extension/package.json
  extension/source/Confirm/Confirm.tsx
  extension/source/Confirm/TransactionCard.tsx
  extension/source/Home/Home.tsx
  extension/source/Home/Onboarding/OnboardingActionPanel.tsx
  extension/source/Home/Onboarding/OnboardingInfoPanel.tsx
  extension/source/Home/Onboarding/OnboardingPage.tsx
  extension/source/Home/Onboarding/PasswordCreationForm.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/ViewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/WorkflowNumbers.tsx
  extension/source/Home/Wallet/Connections/ConnectionSummary.tsx
  extension/source/Home/Wallet/Connections/ConnectionWrapper.tsx
  extension/source/Home/Wallet/Contacts/ContactsSummary.tsx
  extension/source/Home/Wallet/Navigation.tsx
  extension/source/Home/Wallet/Settings/SettingsSummary.tsx
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/Balance.tsx
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AmountSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/Home/Wallet/WalletsPage.tsx
  extension/source/Popup/components/Carousel.tsx
  extension/source/QuillEthereumProvider.ts
  extension/source/background/AggregatorController.ts
  extension/source/background/NetworkController.ts
  extension/source/background/TransactionsController.ts
  extension/source/background/isPermittedOrigin.ts
  extension/source/background/networks.ts
  extension/source/cells/CellCollection.ts
  extension/source/cells/MemoryCellCollection.ts
  extension/source/hooks/useInputDecode.tsx
  extension/source/types/emptyTuple.ts
  extension/source/types/window.d.ts
  extension/tsconfig.json
  extension/yarn.lock
Labels: extension

Enable linting js files, fix .eslintrc.js, tailwind.config.js
  extension/.eslintrc.js
  extension/package.json
  extension/tailwind.config.js
Labels: extension

Fix jsxBracketSameLine deprecation warning by upgrading to bracketSameLine
  extension/.eslintrc.js
Labels: extension

Render eslint config and re-extend
  extension/.eslintrc.js
Labels: extension

Lints are always warnings
  extension/.eslintrc.js
  extension/source/types/Rpc.ts
Labels: extension

Disable rule duplicating prettier and with bad autofix interaction
  extension/.eslintrc.js
Labels: extension

Disallow lint warnings in CI
  extension/package.json
Labels: extension

Add useful things to the geth dev node
  docker-compose.yml
Labels: none

Fix docker weirdness with localhost by using 127.0.0.1
  aggregator/.env.example
Labels: aggregator

allow env
  aggregator/programs/build.ts
Labels: aggregator

Upgrade deno
  aggregator/Dockerfile
Labels: aggregator
