Repository getwax/bls-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: aggregator, aggregator-proxy, automation, extension, contracts, clients, documentation

.github/labeler.yml:

aggregator:
  - aggregator/*
  - aggregator/**/*
aggregator-proxy:
  - aggregator-proxy/*
  - aggregator-proxy/**/*
automation:
  - .github/*
  - .github/**/*
extension:
  - extension/*
  - extension/**/*
contracts:
  - contracts/*
  # Don't label client only changes.
  - any: ['contracts/**/*', '!contracts/clients/**/*']
clients:
  - 'contracts/clients/*'
  - 'contracts/clients/**/*'
documentation:
  - 'docs/*'
  - 'docs/**/*'
  - '*.md'
  - '**/*.md'
  - '**/**/*.md'

Fix linting errors
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/helpers/poll.ts
  contracts/clients/src/index.ts
Labels: contracts, clients

Add aggregationStrategy test to check error message
  aggregator/test/AggregationStrategy.test.ts
Labels: aggregator

Fix client module export error
  contracts/clients/src/index.ts
Labels: clients

Remove console log from poll function
  contracts/clients/src/helpers/poll.ts
Labels: clients

Update bls-wallet-clients to experimental version and update some client types
  aggregator-proxy/src/AggregatorProxyCallback.ts
  aggregator/deps.ts
  aggregator/src/app/AggregationStrategy.ts
  contracts/clients/src/Aggregator.ts
Labels: aggregator, aggregator-proxy, clients

Fix BundleReceipt type and update the extension
  aggregator/deps.ts
  contracts/clients/src/Aggregator.ts
  extension/package.json
  extension/source/background/AggregatorController.ts
Labels: aggregator, extension, clients

Update object test assertions
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Fix failing test
  contracts/clients-tests/BlsSigner.test.ts
Labels: contracts

Turn no-unused-expressions off for test files
  contracts/.eslintrc.js
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Improve constructorGuard typing & update null/undefined checks
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: clients

Fixing type issue in the extension
  aggregator/deps.ts
  extension/package.json
  extension/source/background/AggregatorController.ts
  extension/yarn.lock
Labels: aggregator, extension

Idk how I'm missing these lint errors
  extension/source/background/AggregatorController.ts
Labels: extension

Fix aggregator proxy build
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
Labels: aggregator-proxy

Store init function as promise to be resolved
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Add BlsProvider & BlsSigner to Experimental namespace
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/index.ts
Labels: contracts, clients

Remove signBlsMessage, signBlsTransaction & sendBlsTransaction. Convert logic to match ethers methods
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Use consistent private key for tests
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/index.ts
Labels: contracts, clients

Fix typo & ensure consistent private key for test
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients/src/index.ts
Labels: contracts, clients

wip remove lower-bound fee system
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Tidy test assertions
  contracts/.eslintrc.js
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
Labels: contracts

Update TODOs for future work
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

Cleaning up empty string vs null inconsistency
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

Update client bundle receipt response type
  contracts/clients/src/Aggregator.ts
Labels: clients

Bls provider/signer send transaction (#402)
  contracts/.eslintrc.js
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/helpers/poll.ts
  contracts/clients/src/index.ts
  contracts/clients/test/poll.test.ts
  contracts/clients/yarn.lock
  contracts/package.json
  contracts/tsconfig.json
  contracts/yarn.lock
Labels: contracts, clients

Use new fee parameterization
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AggregationStrategyRouter.ts
  aggregator/src/app/helpers/never.ts
  aggregator/src/env.ts
  aggregator/src/helpers/envTools.ts
Labels: aggregator

Share the bundleOverheadGas according to breakevenOperationCount
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Contribution is per-operation, not per-bundle
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Check bundles individually using overhead sharing
  aggregator/deps.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/env.ts
Labels: aggregator

Check empty bundle before profitability
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Update example configs
  aggregator/.env.example
  aggregator/.env.local.example
Labels: aggregator

Remove redundant unstable flag
  aggregator/programs/showTables.ts
Labels: aggregator

measure bundle overhead gas by extrapolating backwards
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/env.ts
Labels: aggregator

Removing 202 error code
  aggregator-proxy/src/AggregatorProxyCallback.ts
  aggregator/deps.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/AggregationStrategy.test.ts
  contracts/clients/src/Aggregator.ts
  extension/package.json
  extension/source/background/AggregatorController.ts
  extension/yarn.lock
Labels: aggregator, aggregator-proxy, extension, clients

Handle unprofitable-despite-breakeven-operations
  aggregator/deps.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
Labels: aggregator

Factor out #preventLosses
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Remove todo
  aggregator/src/app/AggregationStrategy.ts
Labels: aggregator

Fix fee configs in tests, remove obsolete tests
  aggregator/programs/helpers/typescript.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

Test recovery of blswallet via blswallet call
  contracts/test/recovery-test.ts
Labels: contracts

Use an internal bls wallet to avoid including wallet creation in bundle overhead
  aggregator/.env.example
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/env.ts
Labels: aggregator

Update test
  aggregator/test/AggregationStrategy.test.ts
Labels: aggregator
