Repository getwax/bls-wallet, pull requests merged in 2021-11, with the labels that each got.

#40 Support for general transactions in extension
  extension/source/Background/RequestHandler.ts
  extension/source/CreateTransaction/CreateTransaction.tsx
Labels: EXTENSION

#55 Merge signer into clients and move inside contracts
  .gitmodules
  clients/package.json
  clients/yarn.lock
  contracts/clients/.gitignore
  contracts/clients/.npmignore
  contracts/clients/.vscode/settings.json
  contracts/clients/README.md
  contracts/clients/deps/hubble-bls/exceptions.ts
  contracts/clients/deps/hubble-bls/hashToField.ts
  contracts/clients/deps/hubble-bls/index.ts
  contracts/clients/deps/hubble-bls/mcl.ts
  contracts/clients/deps/hubble-bls/signer.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsWallet.ts
  contracts/clients/src/VerificationGateway.ts
  contracts/clients/src/contractAbis/BlsWalletAbi.ts
  contracts/clients/src/contractAbis/TransparentUpgradeableProxyBytecode.ts
  contracts/clients/src/contractAbis/VerificationGatewayAbi.ts
  contracts/clients/src/helpers/Range.ts
  contracts/clients/src/helpers/assert.ts
  contracts/clients/src/helpers/splitHex256.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/aggregate.ts
  contracts/clients/src/signer/defaultDomain.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/getPublicKey.ts
  contracts/clients/src/signer/getPublicKeyHash.ts
  contracts/clients/src/signer/helpers/AsyncReturnType.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/helpers/Range.ts
  contracts/clients/test/index.test.ts
  contracts/clients/tsconfig.json
  contracts/clients/yarn.lock
  contracts/package.json
  contracts/scripts/test/measure_gas.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/yarn.lock
  signer/.gitignore
  signer/.npmignore
  signer/.vscode/settings.json
  signer/README.md
  signer/tsconfig.json
  signer/yarn.lock
Labels: contracts, clients, signer

#65 Linting autofixes
  contracts/.eslintignore
  contracts/.eslintrc.js
  contracts/.prettierrc.js
  contracts/clients/deps/hubble-bls/hashToField.ts
  contracts/clients/deps/hubble-bls/mcl.ts
  contracts/clients/deps/hubble-bls/signer.ts
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsWallet.ts
  contracts/clients/src/contractAbis/BlsWalletAbi.ts
  contracts/clients/src/contractAbis/VerificationGatewayAbi.ts
  contracts/clients/src/helpers/splitHex256.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/aggregate.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/getPublicKey.ts
  contracts/clients/src/signer/getPublicKeyHash.ts
  contracts/clients/src/signer/helpers/AsyncReturnType.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/BLSExpander.sol
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/hardhat.config.ts
  contracts/scripts/0_deploy_precompile_cost_estimator.ts
  contracts/scripts/1_deploy_bls_wallet_contracts.ts
  contracts/scripts/deploy-deployer.ts
  contracts/scripts/test/deploy_token.ts
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/test/use_wallet.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/deployAndRunPrecompileCostEstimator.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/shared/helpers/expectRevert.ts
  contracts/shared/helpers/getDeployedAddresses.ts
  contracts/shared/helpers/splitHex256.ts
  contracts/test/deploy-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#64 Simplify clients (including typechain integration)
  contracts/.gitignore
  contracts/clients/.npmignore
  contracts/clients/README.md
  contracts/clients/deps/hubble-bls/mcl.ts
  contracts/clients/package.json
  contracts/clients/scripts/showBaseVersion.js
  contracts/clients/scripts/showVersion.js
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/VerificationGateway.ts
  contracts/clients/src/contractAbis/BlsWalletAbi.ts
  contracts/clients/src/contractAbis/TransparentUpgradeableProxyBytecode.ts
  contracts/clients/src/contractAbis/VerificationGatewayAbi.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/aggregate.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/getPublicKey.ts
  contracts/clients/src/signer/getPublicKeyHash.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/clients/typechain
  contracts/package.json
  contracts/scripts/0_deploy_precompile_cost_estimator.ts
  contracts/scripts/1_deploy_bls_wallet_contracts.ts
  contracts/scripts/deploy-deployer.ts
  contracts/scripts/test/deploy_token.ts
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/test/use_wallet.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/deployAndRunPrecompileCostEstimator.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/shared/helpers/expectRevert.ts
  contracts/test/deploy-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: contracts

#66 Update README with yarn, clearer instructions
  README.md
Labels: documentation
