Repository getwax/bls-wallet, pull requests merged in 2021-12, with the labels that each got.

#69 Gateway upgrade path
  contracts/README.md
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/BLSExpander.sol
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/IBLS.sol
  contracts/contracts/mock/MockWalletUpgraded.sol
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#68 Handle bundles in aggregator
  aggregator/.env.example
  aggregator/.vscode/settings.json
  aggregator/README.md
  aggregator/deps.ts
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/createTestWalletViaAggregator.ts
  aggregator/manualTests/helpers/TestBlsWallets.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/throughput.ts
  aggregator/programs/dropTables.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AdminRouter.ts
  aggregator/src/app/AdminService.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BatchTimer.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/SubmissionTimer.ts
  aggregator/src/app/TxService.ts
  aggregator/src/app/TxTable.ts
  aggregator/src/app/WalletRouter.ts
  aggregator/src/app/WalletService.ts
  aggregator/src/app/app.ts
  aggregator/src/app/createQueryClient.ts
  aggregator/src/app/helpers/BundleHandler.ts
  aggregator/src/app/helpers/TxHandler.ts
  aggregator/src/app/helpers/toPublicKeyShort.ts
  aggregator/src/app/parsers.ts
  aggregator/src/env.ts
  aggregator/src/helpers/dotEnvPath.ts
  aggregator/test/BatchTimer.test.ts
  aggregator/test/BlsWalletWrapper.test.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/EthereumService.test.ts
  aggregator/test/SubmissionTimer.test.ts
  aggregator/test/TxService.test.ts
  aggregator/test/TxServiceBatching.test.ts
  aggregator/test/TxServiceNonceReplacement.test.ts
  aggregator/test/TxTable.test.ts
  aggregator/test/WalletService.test.ts
  aggregator/test/helpers/Fixture.ts
  aggregator/test/parsers.test.ts
  contracts/clients/.gitignore
  contracts/clients/.vscode/settings.json
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/signer/conversions.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/yarn.lock
  contracts/scripts/deploy_all.ts
Labels: contracts, aggregator

#72 Wallet key recovery
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

#76 Update aggregator deps
  aggregator/deps.ts
Labels: aggregator

#78 Limit failed bundle storage
  aggregator/.env.example
  aggregator/src/app/BundleService.ts
  aggregator/src/env.ts
  aggregator/test/BundleServiceSubmitting.test.ts
Labels: aggregator

#82 Fix docker build
  aggregator/Dockerfile
  aggregator/programs/build.ts
Labels: aggregator

#79 Deploy to arbitrum testnet
  README.md
  contracts/ArbitrumL1GasCosts.md
  contracts/networks/arbitrum-testnet.json
  contracts/networks/rinkarby.json
  contracts/scripts/deploy-deployer.ts
Labels: contracts

#75 Update extension with bundle changes
  .github/labeler.yml
  README.md
  aggregator/deps.ts
  aggregator/src/app/WalletRouter.ts
  aggregator/src/app/WalletService.ts
  aggregator/src/app/app.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getPublicKeyStr.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/yarn.lock
  contracts/scripts/test/send_eth.ts
  extension/package.json
  extension/source/App.ts
  extension/source/Background/RequestHandler.ts
  extension/source/Background/index.ts
  extension/source/Confirm/Confirm.tsx
  extension/source/Popup/components/WalletHomeScreen.tsx
  extension/source/Popup/index.tsx
  extension/source/helpers/splitHex256.ts
  extension/source/hooks/useInputDecode.tsx
  extension/webpack.config.js
  extension/yarn.lock
Labels: documentation, question, contracts, extension, aggregator

#84 Update bls-wallet-clients version
  aggregator/deps.ts
Labels: aggregator
