Repository getwax/bls-wallet, pull requests merged in 2022-11, with the labels that each got.

#369 Return txhash from aggregator and display in Quill
  aggregator/src/app/BundleService.ts
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/QuillController.ts
  extension/source/background/TransactionsController.ts
  extension/source/types/Rpc.ts
Labels: extension, aggregator

#368 Update dependencies
  .github/workflows/aggregator.yml
  contracts/.gitignore
  contracts/clients/.npmignore
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/typechain
  contracts/clients/typechain-types
  contracts/clients/yarn.lock
  contracts/package.json
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/test/deploy-test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  contracts/tsconfig.json
  contracts/yarn.lock
Labels: contracts, clients, automation

#390 Remove redundant disables
  contracts/clients/src/BlsWalletWrapper.ts
Labels: clients

#391 Test prohibit renounce ownership
  contracts/clients/src/OperationResults.ts
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/test/upgrade-test.ts
Labels: contracts, clients

#393 Update clients package (experimental) and pinned versions
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/networks/arbitrum-goerli.json
  extension/package.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, aggregator-proxy

#397 Fix encodedFunction type and update client pins
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/src/signer/types.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator, clients, aggregator-proxy

#367 Contract Updates & Client Integration
  .github/workflows/aggregator-proxy.yml
  .github/workflows/aggregator.yml
  .github/workflows/clients.yml
  .github/workflows/contracts.yml
  .github/workflows/extension.yml
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/deps.ts
  contracts/.gitignore
  contracts/clients/.npmignore
  contracts/clients/README.md
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/OperationResults.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/clients/typechain
  contracts/clients/typechain-types
  contracts/clients/yarn.lock
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-goerli.json
  contracts/package.json
  contracts/scripts/test/send_eth.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/test/deploy-test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  contracts/tsconfig.json
  contracts/yarn.lock
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy, automation

#407 Export decode error function from the client module
  contracts/clients/README.md
  contracts/clients/src/OperationResults.ts
  contracts/clients/src/index.ts
Labels: documentation, clients
