Repository getwax/bls-wallet, pull requests merged in 2022-06, with the labels that each got.

#216 206 followup
  extension/package.json
  extension/source/Controllers/Network/createEthMiddleware.ts
  extension/source/Controllers/Network/web3_clientVersion.ts
Labels: extension

#158 Update repo documentation
  README.md
  aggregator-proxy/README.md
  aggregator-proxy/package.json
  aggregator/README.md
  contracts/README.md
  contracts/clients/README.md
  contracts/clients/package.json
  contracts/test/walletAction-test.ts
  docs/README.md
  docs/local_development.md
  docs/remote_development.md
  docs/system_overview.md
  docs/use_bls_wallet_clients.md
  images/bls-github-banner.svg
  images/system-overview/action-0.jpg
  images/system-overview/bundle-2.jpg
  images/system-overview/interaction-3.jpg
  images/system-overview/operation-1.jpg
  images/system-overview/system-overview.svg
  setup.ts
Labels: documentation, help wanted, contracts, aggregator, clients

#217 Refactor+Update RPC methods and Add Quill context provider
  extension/package.json
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/background.ts
  extension/source/PageContentScript/InPageProvider.ts
  extension/source/PageContentScript/index.ts
  extension/source/QuillPage/Onboarding/OnboardingPage.tsx
  extension/source/QuillPage/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/QuillContext.tsx
  extension/source/QuillPage/QuillPage.tsx
  extension/source/QuillPage/Wallet/WalletPage.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletWrapper.tsx
  extension/source/QuillPage/getWindowQuillProvider.ts
  extension/source/QuillPage/index.tsx
  extension/source/helpers/mapValues.ts
  extension/source/helpers/recordKeys.ts
  extension/source/types/ExplicitAny.ts
  extension/source/types/Rpc.ts
  extension/source/types/emptyTuple.ts
  extension/source/types/optional.ts
  extension/source/types/window.d.ts
  extension/yarn.lock
Labels: extension

#236 Add MIT license
  LICENSE
  extension/package.json
  yarn.lock
Labels: documentation, extension

#234 Add contributing recommendations & guidelines
  CONTRIBUTING.md
  README.md
  docs/images/bls-github-banner.svg
  docs/images/system-overview/action-0.jpg
  docs/images/system-overview/bundle-2.jpg
  docs/images/system-overview/interaction-3.jpg
  docs/images/system-overview/operation-1.jpg
  docs/images/system-overview/system-overview.svg
  docs/system_overview.md
  docs/use_bls_wallet_clients.md
Labels: documentation

#238 Add release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: enhancement

#223 CI Pipeline
  .github/actions/setup-contracts-clients/action.yml
  .github/labeler.yml
  .github/workflows/aggregator-ci.yml
  .github/workflows/aggregator-proxy-ci.yml
  .github/workflows/clients-ci.yml
  .github/workflows/contracts-ci.yml
  .github/workflows/extension-ci.yml
  .github/workflows/labeler.yml
  aggregator-proxy/package.json
  aggregator/.env.example
  aggregator/programs/checkTs.ts
  aggregator/programs/helpers/git.ts
  aggregator/programs/helpers/lint.ts
  aggregator/programs/helpers/typescript.ts
  aggregator/programs/lintTodos.ts
  aggregator/programs/premerge.ts
  contracts/.eslintrc.js
  contracts/clients/package.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/shared/helpers/defaultDeployerWallet.ts
  contracts/shared/helpers/deployDeployer.ts
  docs/local_development.md
  docs/remote_development.md
  extension/package.json
  extension/source/Controllers/Network/INetworkController.ts
  extension/source/Controllers/Network/NetworkController.ts
  extension/source/Controllers/Network/createOriginMiddleware.ts
  extension/source/Controllers/Network/web3_clientVersion.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/createEventEmitterProxy.ts
  extension/source/Controllers/rpcHelpers/EthQuery.ts
  extension/source/Popup/components/Carousel.tsx
  extension/source/QuillPage/Wallet/Connections/ConnectionSummary.tsx
  extension/source/QuillPage/Wallet/Wallets/AssetsTable.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletDetail.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletSummary.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletWrapper.tsx
  extension/source/helpers/defineAction.ts
  extension/source/types/eth-query.d.ts
  setup.ts
Labels: contracts, extension, aggregator, clients

#221 Cells
  extension/source/Controllers/Currency/CurrencyController.ts
  extension/source/Controllers/Currency/ICurrencyController.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/background.ts
  extension/source/QuillPage/QuillContext.tsx
  extension/source/QuillPage/QuillPage.tsx
  extension/source/QuillPage/Theme.tsx
  extension/source/QuillPage/TimeCell.ts
  extension/source/QuillPage/approximate.ts
  extension/source/QuillPage/index.tsx
  extension/source/cells/AsyncIteratee.ts
  extension/source/cells/CellCollection.ts
  extension/source/cells/CellIterator.ts
  extension/source/cells/CellsDemo/BalanceWidget.tsx
  extension/source/cells/CellsDemo/CellsDemoPage.tsx
  extension/source/cells/CellsDemo/CellsDemoPage2.tsx
  extension/source/cells/CellsDemo/CheckBox.tsx
  extension/source/cells/CellsDemo/Counter.tsx
  extension/source/cells/CellsDemo/DemoTable.tsx
  extension/source/cells/CellsDemo/DemosContainer.tsx
  extension/source/cells/CellsDemo/Display.tsx
  extension/source/cells/CellsDemo/DisplayJson.tsx
  extension/source/cells/CellsDemo/Selector.tsx
  extension/source/cells/CellsDemo/TextBox.tsx
  extension/source/cells/CellsDemo/index.tsx
  extension/source/cells/FormulaCell.ts
  extension/source/cells/IAsyncStorage.ts
  extension/source/cells/ICell.ts
  extension/source/cells/MemoryCell.ts
  extension/source/cells/MemoryCellCollection.ts
  extension/source/cells/README.md
  extension/source/cells/Stoppable.ts
  extension/source/cells/extensionLocalCellCollection.ts
  extension/source/cells/jsonHasChanged.ts
  extension/source/cells/localCellCollection.ts
  extension/source/cells/nextEvent.ts
  extension/source/cells/raceWithEvent.ts
  extension/source/cells/useCell.ts
  extension/source/cells/useCellState.ts
  extension/source/components/Button.tsx
  extension/source/styles/_quill.scss
  extension/source/types/AsyncReturnType.ts
  extension/source/types/window.d.ts
  extension/views/cellsDemo.html
  extension/webpack.config.js
Labels: documentation, extension

#212 Fixes: one-to-one hash wallet
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/BLS.sol
  contracts/contracts/lib/IBLS.sol
  contracts/hardhat.config.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts
