Repository getwax/bls-wallet, pull requests merged in 2022-04, with the labels that each got.

#176 fetch default quill account via `eth_accounts` rpc call
  extension/source/QuillPage/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletWrapper.tsx
Labels: extension

#185 Simplify success
  contracts/contracts/BLSWallet.sol
Labels: contracts

#186 Add receipts
  aggregator/deps.ts
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/send1Wei.ts
  aggregator/manualTests/throughput.ts
  aggregator/programs/dropTables.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/src/app/app.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/deps.ts
  aggregator/test/helpers/Fixture.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  extension/package.json
  extension/source/Background/RequestHandler.ts
  extension/source/Background/index.ts
  extension/source/Background/promptUser.ts
  extension/source/Controllers/Network/createEthMiddleware.ts
  extension/source/Controllers/Network/createJsonRpcClient.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/Transaction/TransactionStateManager.ts
  extension/source/Controllers/knownTransactions.ts
  extension/source/Controllers/utils.ts
  extension/source/common/PortStream.ts
  extension/source/manifest.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients

#194 Pin bls-wallet-clients@0.6.0
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator

#195 Feat/multi action support
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/utils.ts
Labels: extension

#196 Arbitrum testnet update
  aggregator/Dockerfile
  aggregator/manualTests/mint1ViaAggregator.ts
  contracts/networks/arbitrum-testnet.json
  contracts/shared/helpers/Create2Fixture.ts
Labels: contracts, aggregator
