Repository getwax/bls-wallet, pull requests merged in 2022-12, with the labels that each got.

#402 Bls provider/signer send transaction
  contracts/.eslintrc.js
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/helpers/poll.ts
  contracts/clients/src/index.ts
  contracts/clients/test/poll.test.ts
  contracts/clients/yarn.lock
  contracts/package.json
  contracts/tsconfig.json
  contracts/yarn.lock
Labels: contracts, clients

#377 Bundle error logging
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleTable.test.ts
  contracts/clients/src/Aggregator.ts
  extension/package.json
  extension/source/background/AggregatorController.ts
  extension/yarn.lock
Labels: extension, aggregator, clients, aggregator-proxy

#420 Test recovery of blswallet via blswallet call
  contracts/test/recovery-test.ts
Labels: contracts

#419 Bls signer blockchain methods
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

#422 Bls provider json rpc provider methods
  contracts/clients-tests/BlsProvider.test.ts
  contracts/clients-tests/BlsSigner.test.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
Labels: contracts, clients

#429 Correctly bubble up bundle submit errors
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/README.md
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/yarn.lock
  extension/package.json
  extension/source/background/AggregatorController.ts
  extension/yarn.lock
Labels: documentation, extension, aggregator, clients, aggregator-proxy

#342 Wallet recovery
  extension/package.json
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepOneInfo.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/Home/Wallet/Wallets/Recovery/StepTwoWalletCreation.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/background/KeyringController.ts
  extension/source/background/QuillController.ts
  extension/source/helpers/randFr.ts
  extension/source/types/Rpc.ts
  extension/yarn.lock
Labels: extension

#399 BLS signer tests
  contracts/clients-tests/Signer.test.ts
  contracts/contracts/mock/MockERC721.sol
  contracts/scripts/test/measure_gas.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts

#431 Fix issue with fetch in client in browser
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator, clients, aggregator-proxy
