Repository getwax/bls-wallet, pull requests merged in 2022-09, with the labels that each got.

#313 Switch to supported contracts when testing aggregator
  .github/workflows/aggregator.yml
Labels: automation

#324 Added QR Code for receive button
  extension/package.json
  extension/source/Home/Wallet/Wallets/QRModal.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/yarn.lock
Labels: extension

#333 Update contracts
  aggregator/deps.ts
  contracts/networks/arbitrum-goerli.json
  docs/local_development.md
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator

#273 Add network switching
  .github/actions/build-upload-extension/action.yml
  .github/workflows/extension.yml
  aggregator/README.md
  contracts/clients/package.json
  contracts/clients/src/MultiNetworkConfig.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/index.ts
  contracts/clients/test/config.test.ts
  contracts/clients/test/index.test.ts
  contracts/clients/test/init.ts
  contracts/clients/yarn.lock
  contracts/hardhat.config.ts
  extension/.env.example
  extension/.env.release
  extension/.gitignore
  extension/buildMultiNetworkConfig.js
  extension/config.example.json
  extension/config.release.json
  extension/package.json
  extension/scripts/addFileStubsIfNeeded.sh
  extension/source/Config.ts
  extension/source/Home/Wallet/Settings/NetworkSettings.tsx
  extension/source/Home/Wallet/Wallets/DisplayNonce.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/Home/index.tsx
  extension/source/MultiNetworkConfig.ts
  extension/source/QuillContext.tsx
  extension/source/QuillEthereumProvider.ts
  extension/source/QuillStorageCells.ts
  extension/source/background/AggregatorController.ts
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/KeyringController.ts
  extension/source/background/Preferences.ts
  extension/source/background/PreferencesController.ts
  extension/source/background/ProviderConfig.ts
  extension/source/background/QuillController.ts
  extension/source/background/TransactionsController.ts
  extension/source/background/getNetworkConfig.ts
  extension/source/background/index.ts
  extension/source/background/networks.ts
  extension/source/cells/CellCollection.ts
  extension/source/cells/FormulaCell.ts
  extension/source/cells/MemoryCell.ts
  extension/source/cells/TransformCell.ts
  extension/source/cells/mixtureCopy.ts
  extension/source/cells/mixtureHasChanged.ts
  extension/source/env.ts
  extension/source/hooks/useInputDecode.tsx
  extension/source/types/Rpc.ts
  extension/source/types/window.d.ts
  extension/tsconfig.json
  extension/webpack.config.js
  extension/yarn.lock
  setup.ts
Labels: documentation, contracts, extension, aggregator, clients, automation

#335 Update to bls-wallet-clients 0.7.0
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator, clients, aggregator-proxy

#336 Return results in Operation event for visibility of actions
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/test/walletAction-test.ts
  extension/package.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients, aggregator-proxy

#282 Add currency switching and use currency conversions
  extension/source/Confirm/Confirm.tsx
  extension/source/Confirm/TransactionCard.tsx
  extension/source/Confirm/index.tsx
  extension/source/Home/Wallet/Connections/ConnectionSummary.tsx
  extension/source/Home/Wallet/Settings/GeneralSettings.tsx
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AmountSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/QuillStorageCells.ts
  extension/source/background/CurrencyConversionCell.ts
  extension/source/background/Preferences.ts
  extension/source/background/PreferencesController.ts
  extension/source/background/QuillController.ts
  extension/source/cells/useCellish.ts
  extension/source/components/ChainCurrency.tsx
  extension/source/components/CurrencyDisplay.tsx
  extension/source/components/PreferredCurrency.tsx
  extension/source/components/PreferredCurrencySymbol.tsx
  extension/source/currencies/currencyOrderings.ts
  extension/source/helpers/getPropOrUndefined.ts
  extension/source/types/LongPollingCells.ts
Labels: extension

#344 Improve clients docs
  docs/use_bls_wallet_clients.md
Labels: documentation
