Repository getwax/bls-wallet, pull requests merged in 2022-02, with the labels that each got.

#117 Avoid redundant calculations
  contracts/contracts/VerificationGateway.sol
Labels: contracts

#132 Use hash to identify the approved proxy admin function rather than storing the whole bytecode
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
Labels: contracts

#138 Added Arbitrum gas results handling feature
  contracts/ArbitrumGasCosts.md
  contracts/package.json
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/util/ArbGasInfoAbi.ts
  contracts/scripts/util/arbitrum_gas_util.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/yarn.lock
Labels: contracts

#137 Require rewards - partial: Updates to contracts and clients
  aggregator/contractAbis/IERC20Abi.ts
  aggregator/contractAbis/MockERC20Abi.ts
  aggregator/deps.ts
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/throughput.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/app.ts
  aggregator/src/helpers/ExplicitAny.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/EthereumService.test.ts
  aggregator/test/helpers/Fixture.ts
  aggregator/test/helpers/MockErc20.ts
  contracts/clients/package.json
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/aggregate.ts
  contracts/clients/src/signer/isValidEmptyBundle.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/AggregatorUtilities.sol
  contracts/scripts/deploy_all.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, aggregator, clients

#143 refactor: renamed components directory to onboarding
  extension/source/QuillPage/Onboarding/LogoFooter.tsx
  extension/source/QuillPage/Onboarding/OnboardingActionPanel.tsx
  extension/source/QuillPage/Onboarding/OnboardingInfoPanel.tsx
  extension/source/QuillPage/Onboarding/OnboardingPage.tsx
  extension/source/QuillPage/Onboarding/PasswordCreationForm.tsx
  extension/source/QuillPage/Onboarding/PasswordCreationPanel.tsx
  extension/source/QuillPage/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/Onboarding/SecretPhrasePanel.tsx
  extension/source/QuillPage/Onboarding/SetNicknamePanel.tsx
  extension/source/QuillPage/Onboarding/ViewSecretPhrasePanel.tsx
  extension/source/QuillPage/Onboarding/WorkflowNumbers.tsx
  extension/source/QuillPage/QuillPage.tsx
  extension/source/QuillPage/components/QuickColumn.tsx
  extension/source/QuillPage/components/QuickRow.tsx
Labels: extension

#147 Added Token assets table
  extension/package.json
  extension/source/QuillPage/Wallet/WalletPage.tsx
  extension/source/QuillPage/Wallet/Wallets/AssetsTable.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletDetail.tsx
  extension/source/styles/index.scss
  extension/yarn.lock
Labels: extension

#149 Audit feedback
  contracts/contracts/BLSWallet.sol
  contracts/contracts/Create2Deployer.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/mock/MockWalletUpgraded.sol
  contracts/shared/helpers/TokenHelper.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#42 Added inpage provider
  extension/.env.example
  extension/package.json
  extension/source/ContentScript/index.ts
  extension/source/Controllers/Account/AccountTrackerController.ts
  extension/source/Controllers/Account/IAccountTrackerController.ts
  extension/source/Controllers/BaseController.ts
  extension/source/Controllers/Block/BaseBlockTracker.ts
  extension/source/Controllers/Block/IBlockTrackerController.ts
  extension/source/Controllers/Block/PollingBlockTracker.ts
  extension/source/Controllers/Currency/CurrencyController.ts
  extension/source/Controllers/Currency/ICurrencyController.ts
  extension/source/Controllers/Keyring/IKeyringController.ts
  extension/source/Controllers/Keyring/KeyringController.ts
  extension/source/Controllers/Network/INetworkController.ts
  extension/source/Controllers/Network/NetworkController.ts
  extension/source/Controllers/Network/createEthMiddleware.ts
  extension/source/Controllers/Network/createFetchMiddleware.ts
  extension/source/Controllers/Network/createJsonRpcClient.ts
  extension/source/Controllers/Network/createOriginMiddleware.ts
  extension/source/Controllers/Preferences/IPreferencesController.ts
  extension/source/Controllers/Preferences/PreferencesController.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/background.ts
  extension/source/Controllers/constants.ts
  extension/source/Controllers/createEventEmitterProxy.ts
  extension/source/Controllers/createSwappableProxy.ts
  extension/source/Controllers/interfaces.ts
  extension/source/Controllers/rpcHelpers/EthQuery.ts
  extension/source/Controllers/rpcHelpers/TabIdMiddleware.ts
  extension/source/Controllers/streamHelpers/ControllerStoreStream.ts
  extension/source/Controllers/streamHelpers/ControllerStreamSink.ts
  extension/source/Controllers/streamHelpers/MetaRPCHandler.ts
  extension/source/Controllers/utils.ts
  extension/source/CreateTransaction/CreateTransaction.tsx
  extension/source/PageContentScript/BaseProvider.ts
  extension/source/PageContentScript/InPageProvider.ts
  extension/source/PageContentScript/QuillEthereumProvider.ts
  extension/source/PageContentScript/index.ts
  extension/source/PageContentScript/interfaces.ts
  extension/source/PageContentScript/messages.ts
  extension/source/PageContentScript/utils.ts
  extension/source/common/PortStream.ts
  extension/source/common/constants.ts
  extension/source/types.d.ts
  extension/webpack.config.js
  extension/yarn.lock
Labels: extension
