Repository getwax/bls-wallet, pull requests merged in 2022-01, with the labels that each got.

#86 Update bls-wallet-clients to v0.5.3
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator

#89 Avoid problematic toString no-ops
  contracts/clients/src/signer/getPublicKeyStr.ts
  contracts/clients/test/index.test.ts
Labels: clients

#88 Add welcome screen
  .gitignore
  extension/package.json
  extension/source/Popup/Popup.tsx
  extension/source/Popup/components/Carousel.tsx
  extension/source/Popup/components/LargeQuillHeading.tsx
  extension/source/Popup/components/WelcomeScreen.tsx
  extension/source/Popup/styles.scss
  extension/source/assets/arrow-small.svg
  extension/source/assets/icons/favicon-128.png
  extension/source/assets/icons/favicon-16.png
  extension/source/assets/icons/favicon-32.png
  extension/source/assets/icons/favicon-48.png
  extension/source/assets/logo-with-text.svg
  extension/source/assets/logo.svg
  extension/source/assets/placeholder.svg
  extension/source/assets/welcome-art-1.svg
  extension/source/assets/welcome-art-2.svg
  extension/source/assets/welcome-art-3.svg
  extension/source/components/Button.tsx
  extension/source/styles/_fonts.scss
  extension/source/styles/_quill.scss
  extension/source/styles/_variables.scss
  extension/yarn.lock
Labels: extension

#85 Updated Keyring Controller
  extension/package.json
  extension/source/Controllers/Keyring/IKeyringController.ts
  extension/source/Controllers/Keyring/KeyringController.ts
  extension/yarn.lock
Labels: extension

#94 Switch VG export to type only, add Troubleshooting section
  aggregator/README.md
  aggregator/deps.ts
Labels: bug, documentation, aggregator

#101 Measure password strength
  extension/package.json
  extension/source/helpers/measurePasswordStrength.ts
  extension/yarn.lock
Labels: extension

#103 Kk/theme engine
  extension/package.json
  extension/postcss.config.js
  extension/source/Popup/Popup.tsx
  extension/source/Popup/components/LargeQuillHeading.tsx
  extension/source/Popup/components/WelcomeScreen.tsx
  extension/source/Popup/styles.scss
  extension/source/components/Button.tsx
  extension/source/styles/_fonts.scss
  extension/source/styles/_quill.scss
  extension/source/styles/index.scss
  extension/tailwind.config.js
  extension/yarn.lock
Labels: extension

#95 Rough onboarding flow part 2
  extension/source/QuillPage/components/OnboardingActionPanel.tsx
  extension/source/QuillPage/components/PasswordCreationPanel.tsx
  extension/source/QuillPage/components/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/components/SecretPhrasePanel.tsx
  extension/source/QuillPage/components/SetNicknamePanel.tsx
  extension/source/QuillPage/components/SetPasswordPage.tsx
  extension/source/QuillPage/components/ViewSecretPhrasePanel.tsx
Labels: extension

#112 Reopened: Make password creation form functional
  extension/source/QuillPage/components/PasswordCreationForm.tsx
  extension/source/QuillPage/components/PasswordCreationPanel.tsx
  extension/source/QuillPage/styles.scss
  extension/source/helpers/measurePasswordStrength.ts
Labels: extension

#113 Onboarding UI update
  extension/source/QuillPage/components/LogoFooter.tsx
  extension/source/QuillPage/components/OnboardingActionPanel.tsx
  extension/source/QuillPage/components/OnboardingInfoPanel.tsx
  extension/source/QuillPage/components/OnboardingPage.tsx
  extension/source/QuillPage/components/PasswordCreationForm.tsx
  extension/source/QuillPage/components/PasswordCreationPanel.tsx
  extension/source/QuillPage/components/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/components/SetNicknamePanel.tsx
  extension/source/QuillPage/components/ViewSecretPhrasePanel.tsx
  extension/source/QuillPage/components/WorkflowNumbers.tsx
  extension/source/QuillPage/styles.scss
  extension/source/styles/_quill.scss
  extension/source/styles/_reset.scss
  extension/source/styles/index.scss
Labels: extension

#115 Test atomicity of operations and actions
  contracts/shared/helpers/TokenHelper.ts
  contracts/test/walletAction-test.ts
Labels: contracts
