Repository getwax/bls-wallet, pull requests merged in 2022-03, with the labels that each got.

#136 Require rewards
  aggregator/.env.example
  aggregator/deps.ts
  aggregator/programs/build.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/TransactionFailure.ts
  aggregator/src/env.ts
  aggregator/src/helpers/envTools.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
  contracts/contracts/AggregatorUtilities.sol
Labels: contracts, aggregator

#159 Move most deps to devDeps for contracts.
  contracts/package.json
  contracts/yarn.lock
Labels: contracts

#153 Separate out AggregationStrategy
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/app.ts
  aggregator/src/app/helpers/bigSum.ts
  aggregator/src/app/helpers/countActions.ts
  aggregator/src/app/helpers/plus.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

#161 Add /estimateFee
  aggregator/deps.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AggregationStrategyRouter.ts
  aggregator/src/app/app.ts
  aggregator/src/app/helpers/ClientReportableError.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/helpers/Fixture.ts
  contracts/clients/src/Aggregator.ts
Labels: aggregator, clients

#164 Addresses tech debts
  extension/source/QuillPage/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/components/Button.tsx
Labels: extension

#163 Add checks to gateway upgrade
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/deploy-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts

#151 add tx state manager
  extension/package.json
  extension/source/Controllers/Transaction/ITransactionController.ts
  extension/source/Controllers/Transaction/TransactionStateManager.ts
  extension/source/Controllers/utils.ts
  extension/yarn.lock
Labels: extension

#150 Fix issue with attacker wallet locking another users wallet
  contracts/contracts/VerificationGateway.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/shared/helpers/expectRevert.ts
  contracts/test/deploy-test.ts
  contracts/test/recovery-test.ts
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: bug, contracts

#168 Onboarding and Account creation
  extension/source/Controllers/Keyring/IKeyringController.ts
  extension/source/Controllers/Keyring/KeyringController.ts
  extension/source/Controllers/Network/NetworkController.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/Transaction/TransactionStateManager.ts
  extension/source/Controllers/background.ts
  extension/source/Controllers/constants.ts
  extension/source/Popup/components/WelcomeScreen.tsx
  extension/source/QuillPage/Onboarding/OnboardingActionPanel.tsx
  extension/source/QuillPage/Onboarding/OnboardingInfoPanel.tsx
  extension/source/QuillPage/Onboarding/OnboardingPage.tsx
  extension/source/QuillPage/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillPage/Onboarding/SecretPhrasePanel.tsx
  extension/source/QuillPage/Onboarding/WorkflowNumbers.tsx
  extension/source/QuillPage/Wallet/WalletPage.tsx
  extension/source/QuillPage/Wallet/Wallets/AssetsTable.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletDetail.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletSummary.tsx
  extension/source/QuillPage/Wallet/Wallets/WalletWrapper.tsx
  extension/source/QuillPage/index.tsx
  extension/source/types/eth-query.d.ts
  extension/source/types/window.d.ts
Labels: extension

#167 WIP Allow local eth RPC node for controllers
  extension/source/Controllers/Network/NetworkController.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/Transaction/TransactionStateManager.ts
  extension/source/Controllers/constants.ts
Labels: extension

#172 Update extension networks, use in existing extension code
  README.md
  extension/.env.example
  extension/package.json
  extension/source/Background/index.ts
  extension/source/Confirm/Confirm.tsx
  extension/source/Controllers/Keyring/KeyringController.ts
  extension/source/Controllers/Network/NetworkController.ts
  extension/source/Controllers/QuillController.ts
  extension/source/Controllers/background.ts
  extension/source/Controllers/constants.ts
  extension/source/Controllers/utils.ts
  extension/source/Popup/index.tsx
  extension/source/env.ts
  extension/source/helpers/toHex.ts
  extension/source/hooks/useInputDecode.tsx
  extension/yarn.lock
Labels: documentation, extension
