Repository getwax/bls-wallet, pull requests merged in 2022-10, with the labels that each got.

#352 Update docs
  aggregator-proxy/README.md
  docs/images/system-overview/instant-wallet-with-dapp-sponsored-txs.jpg
  docs/images/system-overview/instant-wallet-without-dapp-sponsored-txs.jpg
  docs/local_development.md
  docs/remote_development.md
  docs/use_bls_wallet_dapp.md
Labels: documentation, aggregator-proxy

#357 Add documentation for aggregator env vars
  aggregator/README.md
Labels: documentation, aggregator

#356 Import pre-existing seed phrase during Onboarding
  extension/source/Home/Onboarding/SecretPhrasePanel.tsx
Labels: extension

#353 updated inputDecode to parse params
  extension/source/Confirm/TransactionCard.tsx
  extension/source/hooks/useInputDecode.tsx
  extension/source/styles/index.scss
  extension/tailwind.config.js
Labels: extension

#358 Add links to contract deployments to README.
  README.md
Labels: documentation, devExp

#350 Audit fixes 1-4 and BLSWalletWrapper changes
  .github/workflows/aggregator-proxy.yml
  .github/workflows/aggregator.yml
  .github/workflows/clients.yml
  .github/workflows/contracts.yml
  .github/workflows/extension.yml
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/deps.ts
  contracts/clients/README.md
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/OperationResults.ts
  contracts/clients/src/index.ts
  contracts/clients/src/signer/encodeMessageForSigning.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/BLSWallet.sol
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/Fixture.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy, automation
