Repository getwax/bls-wallet, pull requests merged in 2022-08, with the labels that each got.

#291 Switch extension upload to more relevant GH action
  .github/actions/build-upload-extension/action.yml
Labels: automation

#285 Fix broken links
  docs/README.md
Labels: documentation

#292 Add guide for using BLS Wallet/Quill in a dApp
  README.md
  docs/README.md
  docs/use_bls_wallet_dapp.md
Labels: documentation

#293 Create Historical Transactions list
  extension/source/Home/Wallet/Wallets/AssetsTable.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/source/Home/Wallet/Wallets/WalletDetail.tsx
Labels: extension

#298 created clickable actions modal
  extension/package.json
  extension/source/Confirm/TransactionCard.tsx
  extension/source/Home/Wallet/Wallets/ActionsModal.tsx
  extension/source/Home/Wallet/Wallets/TransactionsTable.tsx
  extension/yarn.lock
Labels: extension

#296 Ignore watching node_modules during extension dev
  docs/local_development.md
  extension/webpack.config.js
Labels: documentation, extension

#304 Add checkout commands to contract deployment and explanation
  docs/local_development.md
Labels: documentation

#307 Update private key
  aggregator/.env.example
Labels: bug, aggregator, devExp
