Repository getwax/bls-wallet, pull requests merged in 2023-02, with the labels that each got.

#487 Bw 446 add gas limit
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/conversions.ts
  contracts/clients/src/signer/types.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/BLSExpander.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  contracts/yarn.lock
Labels: contracts, clients

#486 Add client recovery methods
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getRandomBlsPrivateKey.ts
  contracts/test/recovery-test.ts
  extension/package.json
  extension/source/Home/Wallet/Wallets/Recovery/StepThreeRecover.tsx
  extension/source/background/KeyringController.ts
  extension/source/helpers/randFr.ts
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients, aggregator-proxy

#496 Followups for #487 (gas limit PR)
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/VerificationGateway.sol
Labels: contracts, clients

#497 Integrations documentation improvements
  README.md
  aggregator-proxy/README.md
  aggregator/README.md
  contracts/README.md
  contracts/clients/README.md
  docs/README.md
  docs/local_development.md
  docs/remote_development.md
  docs/use_bls_wallet_clients.md
  docs/use_bls_wallet_dapp.md
  extension/README.md
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy

#510 Switch to sqlite
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/aggregator.yml
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/deps.ts
  aggregator/programs/dropTables.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AdminRouter.ts
  aggregator/src/app/AdminService.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/src/app/app.ts
  aggregator/src/app/createQueryClient.ts
  aggregator/src/app/runQueryGroup.ts
  aggregator/src/env.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/helpers/Fixture.ts
  contracts/README.md
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
  contracts/scripts/wait-for-rpc.sh
  docker-compose.yml
  docs/local_development.md
Labels: documentation, contracts, aggregator, automation

#504 Publish aggregator images using CI
  .github/workflows/aggregator-dockerhub.yml
  aggregator/Dockerfile
  aggregator/programs/build.ts
Labels: aggregator, automation

#517 Fix: typos
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/local_development.md
  docs/remote_development.md
  docs/use_bls_wallet_dapp.md
Labels: documentation

#341 Update gas measurement script for Arbitrum Nitro
  .github/workflows/contracts.yml
  contracts/.gitignore
  contracts/ArbitrumGasCosts.md
  contracts/clients/src/BlsWalletContracts.ts
  contracts/clients/src/index.ts
  contracts/contracts/BLSExpander.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/deploy_all.ts
  contracts/scripts/measure_gas/README.md
  contracts/scripts/measure_gas/config.ts
  contracts/scripts/measure_gas/configs/blsExpanderAddressTransfers.ts
  contracts/scripts/measure_gas/configs/blsExpanderAirdrop.ts
  contracts/scripts/measure_gas/configs/blsTransfer.ts
  contracts/scripts/measure_gas/configs/index.ts
  contracts/scripts/measure_gas/configs/normalTransfer.ts
  contracts/scripts/measure_gas/format.ts
  contracts/scripts/measure_gas/measure.ts
  contracts/scripts/measure_gas/networks/arbitrum.ts
  contracts/scripts/measure_gas/rng.ts
  contracts/scripts/measure_gas/run.ts
  contracts/scripts/measure_gas/setup.ts
  contracts/scripts/measure_gas/token.ts
  contracts/scripts/measure_gas/transaction.ts
  contracts/scripts/measure_gas/types.ts
  contracts/scripts/sleep.ts
  contracts/scripts/test/measure_gas.ts
  contracts/scripts/util/ArbGasInfoAbi.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/yarn.lock
Labels: documentation, contracts, clients, automation

#516 Sqlite followup
  .github/workflows/aggregator.yml
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/.gitignore
  aggregator/.vscode/launch.json
  aggregator/Dockerfile
  aggregator/README.md
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/createTestWallet.ts
  aggregator/manualTests/createTestWalletViaAggregator.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/getChainId.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/send1Wei.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/programs/aggregator.ts
  aggregator/programs/build.ts
  aggregator/programs/checkTs.ts
  aggregator/programs/coverage.sh
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/programs/helpers/typescript.ts
  aggregator/programs/lintTodos.ts
  aggregator/programs/premerge.ts
  aggregator/programs/showTables.ts
  setup.ts
Labels: documentation, aggregator, automation

#511 BLSExpanderDelegator and FallbackExpander
  contracts/contracts/BLSExpander.sol
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/FallbackExpander.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/VLQ.sol
  contracts/package.json
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/bundleCompression.ts
  contracts/test/vlq-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#513 Use geth in client integration tests
  .github/actions/local-contract-deploy-geth/action.yml
  .github/actions/local-contract-deploy-hardhat/action.yml
  .github/workflows/contracts.yml
  .github/workflows/integration.yml
  aggregator/.env.test
  aggregator/programs/showTables.ts
  contracts/scripts/wait-for-contract-deploy.sh
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, aggregator, automation

#518 Use .eventually in contracts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#520 Additional tests for estimateGas for different Tx types
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts

#529 Document easier ways of running aggregator
  aggregator/README.md
Labels: documentation, aggregator

#530 Fix intermittent test failure by using normalized hex strings
  contracts/test/recovery-test.ts
Labels: contracts

#528 Replace lazyBlsWallets with just creating wallets
  contracts/scripts/test/use_wallet.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/test/recovery-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts

#512 Add accounts, blocks, & network status method tests
  contracts/clients/src/BlsProvider.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients
