Repository getwax/bls-wallet, pull requests merged in 2023-03, with the labels that each got.

#464 Use safe singleton factory
  .github/actions/local-contract-deploy-hardhat/action.yml
  contracts/.env.example
  contracts/clients/src/BlsWalletContracts.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/test/config.test.ts
  contracts/contracts/Create2Deployer.sol
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/lib/hubble-contracts/contracts/libs/BLS.sol
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/0_deploy_precompile_cost_estimator.ts
  contracts/scripts/1_deploy_bls_wallet_contracts.ts
  contracts/scripts/deploy-deployer.ts
  contracts/scripts/deploy_all.ts
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
  contracts/shared/SafeSingletonFactory.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Create2Fixture.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/defaultDeployerWallet.ts
  contracts/shared/helpers/deployAndRunPrecompileCostEstimator.ts
  contracts/shared/helpers/deployDeployer.ts
  contracts/test/deploy-test.ts
  contracts/test/recovery-test.ts
  contracts/test/tokenPayment-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients, automation

#536 Use BLSWallet and ProxyAdmin directly inside VerificationGateway
  contracts/clients/src/BlsWalletContracts.ts
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/test/config.test.ts
  contracts/contracts/ProxyAdminGenerator.sol
  contracts/contracts/VerificationGateway.sol
  contracts/scripts/deploy_all.ts
  contracts/shared/deploy.ts
Labels: contracts, clients

#519 Pseudo floats
  contracts/contracts/FallbackExpander.sol
  contracts/contracts/lib/PseudoFloat.sol
  contracts/contracts/lib/VLQ.sol
  contracts/shared/helpers/bundleCompression.ts
  contracts/test/pseudoFloat-test.ts
  contracts/test/vlq-test.ts
Labels: compression

#541 Improve private key management in BlsWalletWrapper
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/manualTests/createTestWallet.ts
  aggregator/src/app/EthereumService.ts
  contracts/clients/README.md
  contracts/clients/package.json
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/signer/getPublicKey.ts
  contracts/clients/src/signer/getPublicKeyHash.ts
  contracts/clients/src/signer/getPublicKeyStr.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/src/signer/sign.ts
  contracts/clients/src/signer/signMessage.ts
  contracts/clients/test/index.test.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/callProxyAdmin.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  contracts/test/walletAction-test.ts
  extension/package.json
  extension/source/background/KeyringController.ts
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy

#540 Add multi-action send transaction method to bls signer
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/src/helpers/addSafetyDivisorToFee.ts
  contracts/contracts/mock/MockERC20Spender.sol
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

#545 Extra PseudoFloat tests
  contracts/test/pseudoFloat-test.ts
Labels: contracts, compression

#546 AddressRegistry and BLSPublicKeyRegistry
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/test/addressRegistry-test.ts
  contracts/test/blsPublicKeyRegistry-test.ts
Labels: contracts, compression

#547 Registry index format
  contracts/contracts/lib/RegIndex.sol
  contracts/shared/helpers/bundleCompression.ts
  contracts/test/regIndex-test.ts
Labels: contracts, compression

#552 Use registries
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/IOperationCompressor.ts
  contracts/clients/src/encodeUtils.ts
  contracts/clients/src/index.ts
  contracts/contracts/FallbackExpander.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/pseudoFloat-test.ts
  contracts/test/regIndex-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients, compression

#555 Add expander for registration
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/clients/src/index.ts
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/contracts/BLSRegistration.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/hexLen.ts
  contracts/shared/helpers/receiptOf.ts
  contracts/test/expanders-test.ts
  contracts/test/walletAction-test.ts
Labels: contracts, clients

#548 413 improve private key management in bls provider and signer
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/yarn.lock
Labels: contracts, clients

#556 Expanders followup
  contracts/clients/src/AddressRegistryWrapper.ts
  contracts/clients/src/BlsPublicKeyRegistryWrapper.ts
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/Experimental.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/index.ts
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/shared/helpers/TokenHelper.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test/addressRegistry-test.ts
  contracts/test/blsPublicKeyRegistry-test.ts
  contracts/test/deploy-test.ts
  contracts/test/pseudoFloat-test.ts
  contracts/test/regIndex-test.ts
  contracts/test/vlq-test.ts
Labels: contracts, clients, compression

#558 `tx.origin` payments in fallback expander
  contracts/clients/src/FallbackCompressor.ts
  contracts/contracts/FallbackExpander.sol
  contracts/shared/deploy.ts
  contracts/test/expanders-test.ts
Labels: contracts, clients, compression

#568 Add static get random private key method to bls signer
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  docs/use_bls_provider.md
Labels: documentation, contracts, clients

#572 Add wait for contract deploy script to agg workflow
  .github/workflows/aggregator.yml
Labels: automation
