Repository getwax/bls-wallet, pull requests merged in 2023-06, with the labels that each got.

#605 Fix fees on optimism
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/deps.ts
  aggregator/manualTests/callOptimismGasPriceOracle.ts
  aggregator/manualTests/getOptimismL1Fee.ts
  aggregator/manualTests/getRawTransaction.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/OptimismGasPriceOracle.ts
  aggregator/src/app/app.ts
  aggregator/src/env.ts
  aggregator/src/helpers/getOptimismL1Fee.ts
  aggregator/src/helpers/getRawTransaction.ts
  aggregator/src/helpers/hexToUint8Array.ts
  aggregator/test/helpers/Fixture.ts
Labels: documentation, aggregator

#604 Bw 458 audit fix 06
  contracts/contracts/VerificationGateway.sol
  contracts/test/upgrade-test.ts
Labels: contracts

#606 Audit Fix 06 Integration branch
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/contracts/VerificationGateway.sol
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
  extension/package.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients, aggregator-proxy

#608 Update contract licenses to MIT
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  contracts/contracts/AddressRegistry.sol
  contracts/contracts/AggregatorUtilities.sol
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/contracts/BLSPublicKeyRegistry.sol
  contracts/contracts/BLSRegistration.sol
  contracts/contracts/BLSWallet.sol
  contracts/contracts/ERC20Expander.sol
  contracts/contracts/ExpanderEntryPoint.sol
  contracts/contracts/FallbackExpander.sol
  contracts/contracts/VerificationGateway.sol
  contracts/contracts/interfaces/IExpander.sol
  contracts/contracts/interfaces/IWallet.sol
  contracts/contracts/lib/PseudoFloat.sol
  contracts/contracts/lib/RegIndex.sol
  contracts/contracts/lib/VLQ.sol
  contracts/contracts/mock/MockWalletUpgraded.sol
  extension/package.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients, aggregator-proxy
