Repository getwax/bls-wallet, pull requests merged in 2023-01, with the labels that each got.

#432 Pin bls-wallet-clients@0.8.2
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator, aggregator-proxy

#425 Add provider tests to github workflows
  .github/actions/local-aggregator-deploy/action.yml
  .github/actions/local-contract-deploy/action.yml
  .github/workflows/clients.yml
  aggregator/.env.test
  aggregator/.gitignore
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/tsconfig.json
Labels: contracts, clients, automation

#366 Add tests to decode error results
  .github/workflows/clients.yml
  contracts/.eslintrc.js
  contracts/clients/.gitignore
  contracts/clients/.nycrc
  contracts/clients/package.json
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OperationResults.test.ts
  contracts/clients/yarn.lock
Labels: clients, automation

#418 Charge accurate fees
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/deps.ts
  aggregator/manualTests/createTestWallet.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/helpers/TestBlsWallet.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/programs/helpers/typescript.ts
  aggregator/programs/showTables.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AggregationStrategyRouter.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/app.ts
  aggregator/src/app/helpers/never.ts
  aggregator/src/env.ts
  aggregator/src/helpers/envTools.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

#438 Charge accurate fees -- followup
  aggregator/README.md
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
Labels: documentation, aggregator

#439 Bls signer json rpc signer and default signer methods
  aggregator/.env.test
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsSigner.test.ts
Labels: contracts, clients

#450 Better split local and remote docs
  docs/local_development.md
  docs/remote_development.md
Labels: documentation

#451 Fix aggregator test stalls
  aggregator/src/app/BundleService.ts
  aggregator/src/app/EthereumService.ts
Labels: aggregator

#440 Persist bundles in table
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
Labels: aggregator

#452 Use geth
  .github/workflows/aggregator.yml
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/src/app/EthereumService.ts
  aggregator/src/env.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/fundAccounts.js
  contracts/scripts/start-hardhat.sh
  contracts/scripts/start.sh
  docs/local_development.md
Labels: documentation, contracts, aggregator, automation

#443 Limit bundles by gas instead of actions
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/README.md
  aggregator/manualTests/throughput.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/helpers/countActions.ts
  aggregator/src/env.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: documentation, aggregator

#468 Followup suggestions from #443
  aggregator/.env.example
  aggregator/.env.local.example
  aggregator/.env.test
  aggregator/README.md
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/env.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: documentation, aggregator

#471 Fix test integration
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/clients.yml
  .github/workflows/integration.yml
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  contracts/test-integration/BlsProvider.test.ts
Labels: contracts, aggregator, automation

#472 Restore aggregatorLogs.txt artifact
  .github/actions/local-aggregator-deploy/action.yml
  .github/workflows/integration.yml
Labels: automation

#467 Bls provider and signer contracts interaction
  contracts/README.md
  contracts/clients-tests/Signer.test.ts
  contracts/clients/package.json
  contracts/clients/src/BlsProvider.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/clients/yarn.lock
  contracts/contracts/mock/MockERC721.sol
  contracts/package.json
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsProviderContractInteraction.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: documentation, contracts, clients

#473 Add optimism goerli network config
  contracts/.env.example
  contracts/hardhat.config.ts
  contracts/networks/optimism-goerli.json
Labels: contracts

#477 Change port to --net=host in startup script
  aggregator/programs/start-docker.sh
Labels: aggregator

#479 forgot slash in the docker run command
  aggregator/programs/start-docker.sh
Labels: aggregator

#483 Add Optimism Goerli deploy to README
  README.md
  aggregator-proxy/README.md
  aggregator-proxy/manualTests/echoServer.ts
  aggregator/README.md
  contracts/.env.example
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-testnet.json
  contracts/shared/helpers/getBLSAddresses.ts
  contracts/test/walletAction-test.ts
  docs/remote_development.md
  extension/config.example.json
  extension/config.release.json
Labels: documentation, contracts, extension, aggregator, aggregator-proxy

#480 Update bundle receipt to match ethers transaction response
  CONTRIBUTING.md
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  docs/remote_development.md
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy
