Repository getwax/bls-wallet, pull requests merged in 2023-04, with the labels that each got.

#539 Healthendpoint
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/HealthRouter.ts
  aggregator/src/app/HealthService.ts
  aggregator/src/app/app.ts
  aggregator/test/HealthService.test.ts
  aggregator/test/helpers/Fixture.ts
Labels: aggregator

#579 461 audit fix 9
  contracts/clients/src/BlsWalletWrapper.ts
  contracts/contracts/VerificationGateway.sol
  contracts/shared/helpers/getPublicKeyFromHash.ts
  contracts/test/recovery-test.ts
  contracts/test/upgrade-test.ts
Labels: contracts, clients

#580 551 run quill against geth node and pay aggregator fees
  contracts/README.md
  contracts/clients/test/BlsSigner.test.ts
  contracts/hardhat.config.ts
  docs/local_development.md
  extension/README.md
  extension/config.example.json
  extension/config.release.json
  extension/source/background/AggregatorController.ts
Labels: documentation, contracts, extension, clients

#578 Fix page move when border is increased
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/styles/_quill.scss
Labels: extension

#581 Configure cors for geth dev
  contracts/scripts/start.sh
Labels: contracts

#582 main -> contract updates
  aggregator-proxy/package.json
  aggregator-proxy/src/BundleDto.ts
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/manualTests/addDemoTx.ts
  aggregator/manualTests/addDummyTx.ts
  aggregator/manualTests/estimateTransferFee.ts
  aggregator/manualTests/mint1ViaAggregator.ts
  aggregator/manualTests/mint1ViaEthereumService.ts
  aggregator/manualTests/mintNViaAggregator.ts
  aggregator/manualTests/throughput.ts
  aggregator/manualTests/zeroAddressError.ts
  aggregator/programs/createInternalBlsWallet.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/AppEvent.ts
  aggregator/src/app/EthereumService.ts
  aggregator/src/app/parsers.ts
  aggregator/test/AggregationStrategy.test.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceFees.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  aggregator/test/EthereumService.test.ts
  aggregator/test/helpers/Fixture.ts
  aggregator/test/parsers.test.ts
  contracts/README.md
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/clients/test/index.test.ts
  contracts/hardhat.config.ts
  contracts/networks/arbitrum-goerli.json
  contracts/networks/optimism-goerli.json
  contracts/scripts/start.sh
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
  contracts/test/recovery-test.ts
  docs/local_development.md
  extension/README.md
  extension/config.example.json
  extension/config.release.json
  extension/package.json
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/QuillContext.tsx
  extension/source/background/AggregatorController.ts
  extension/source/background/KeyringController.ts
  extension/source/styles/_quill.scss
  extension/webpack.config.js
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy

#588 Add name and version to bls wallet domains
  contracts/clients/src/NetworkConfig.ts
  contracts/clients/src/signer/getDomain.ts
  contracts/clients/src/signer/index.ts
  contracts/clients/test/config.test.ts
  contracts/clients/test/index.test.ts
  contracts/contracts/VerificationGateway.sol
  contracts/scripts/deploy_all.ts
Labels: contracts, clients

#591 Update local and remote docs
  docs/local_development.md
  docs/remote_development.md
Labels: documentation
