Repository getwax/bls-wallet, pull requests merged in 2023-05, with the labels that each got.

#577 ERC20 expander
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/Erc20Compressor.ts
  contracts/clients/src/index.ts
  contracts/contracts/ERC20Expander.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/expanders-test.ts
Labels: contracts, clients, compression

#585 Fix expander lookup
  contracts/clients/src/BlsRegistrationCompressor.ts
  contracts/clients/src/BundleCompressor.ts
  contracts/clients/src/Erc20Compressor.ts
  contracts/clients/src/FallbackCompressor.ts
  contracts/clients/src/IOperationCompressor.ts
  contracts/contracts/BLSExpanderDelegator.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
Labels: contracts, clients

#586 Contracts connector
  contracts/clients/src/ContractsConnector.ts
  contracts/clients/src/SafeSingletonFactory.ts
  contracts/clients/src/index.ts
Labels: contracts, clients

#590 Add `ExpanderEntryPoint` to avoid solidity abi
  aggregator/deps.ts
  aggregator/src/app/AggregationStrategy.ts
  aggregator/src/app/EthereumService.ts
  contracts/clients/src/ContractsConnector.ts
  contracts/clients/src/OperationResults.ts
  contracts/contracts/ExpanderEntryPoint.sol
  contracts/shared/deploy.ts
  contracts/shared/helpers/Fixture.ts
  contracts/test/expanders-test.ts
Labels: contracts, aggregator, clients

#598 Merge main into contract-updates
  aggregator/deps.ts
  aggregator/programs/helpers/shell.ts
  contracts/clients/test/OperationResults.test.ts
  contracts/networks/arbitrum-goerli.json
  contracts/networks/optimism-goerli.json
  contracts/test-integration/BlsProvider.test.ts
  docs/local_development.md
  docs/remote_development.md
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients

#597 Test "decodes WalletOperationProcessed logs"
  contracts/clients/src/OperationResults.ts
  contracts/clients/test/OperationResults.test.ts
Labels: clients

#599 Clean up bls provider and signer
  contracts/clients/src/BlsSigner.ts
  contracts/clients/test/BlsProvider.test.ts
  contracts/clients/test/BlsSigner.test.ts
  contracts/test-integration/BlsProvider.test.ts
  contracts/test-integration/BlsSigner.test.ts
  contracts/test-integration/BlsSignerContractInteraction.test.ts
Labels: contracts, clients

#601 Update components to use client module v0.9.0
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  contracts/clients/package.json
  extension/package.json
  extension/yarn.lock
Labels: extension, aggregator, clients, aggregator-proxy

#600 Add ability to blsWalletSigner to verify multiple addresses
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleService.ts
  aggregator/test/BundleService.test.ts
  contracts/clients/package.json
  contracts/clients/src/signer/verify.ts
  contracts/clients/test/index.test.ts
  contracts/test-integration/BlsProvider.test.ts
  extension/package.json
  extension/yarn.lock
Labels: contracts, extension, aggregator, clients, aggregator-proxy

#603 Improve quill UI responsiveness
  extension/source/Home/Onboarding/OnboardingActionPanel.tsx
  extension/source/Home/Onboarding/OnboardingInfoPanel.tsx
  extension/source/Home/Onboarding/ReviewSecretPhrasePanel.tsx
  extension/source/Home/Onboarding/ViewSecretPhrasePanel.tsx
  extension/source/Home/Wallet/Navigation.tsx
  extension/source/Home/Wallet/Wallets/Balance.tsx
  extension/source/Home/Wallet/Wallets/Recovery/RecoverWalletModal.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AmountSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/AssetSelector.tsx
  extension/source/Home/Wallet/Wallets/SendDetail/RecipientSelector.tsx
  extension/source/Home/Wallet/Wallets/WalletSummary.tsx
  extension/source/Home/Wallet/Wallets/WalletWrapper.tsx
  extension/source/Home/Wallet/WalletsPage.tsx
Labels: extension

#592 192 generate determinisitc bundle hashes
  aggregator-proxy/package.json
  aggregator-proxy/yarn.lock
  aggregator/deps.ts
  aggregator/src/app/BundleRouter.ts
  aggregator/src/app/BundleService.ts
  aggregator/src/app/BundleTable.ts
  aggregator/test/BundleService.test.ts
  aggregator/test/BundleServiceSubmitting.test.ts
  aggregator/test/BundleTable.test.ts
  contracts/clients/package.json
  contracts/clients/src/Aggregator.ts
  contracts/clients/src/BlsProvider.ts
  contracts/clients/src/helpers/addSafetyDivisorToFee.ts
  contracts/clients/src/helpers/hashBundle.ts
  contracts/clients/src/index.ts
  contracts/clients/test/hashBundle.test.ts
  contracts/test-integration/BlsProvider.test.ts
  docs/local_development.md
  extension/package.json
  extension/yarn.lock
Labels: documentation, contracts, extension, aggregator, clients, aggregator-proxy
